[2016-09-23 21:26] jeremydmiller commented on #508
It's just an extension method used throughout the StructureMap codebase. If you want it, Baseline has that extension method. Or just opt into foreach.

[2016-09-23 21:26] #508 closed

[2016-09-23 21:28] antwilliams commented on #508
I found the extension method in the main codebase, I just wondered if the fact that the class was internal was deliberate given that it was used to extensively in the documentation.

[2016-09-24 01:00] jeremydmiller commented on #508
There's literally something like 10,000 extension methods in Github that implement that exact same Each() or ForEach() iteration. I didn't want it colliding with other folks libraries.

[2016-09-25 15:50] shaulbehr commented on #505
Yup, problem solved.  Thanks for your amazing support!

[2016-09-25 15:50] #505 closed

[2016-09-26 12:46] e-tobi opened #509 "Unexpected setter injection"
Configuring a Ctor<> argument causes all public properties of that type to be injected as well:

    [TestFixture]
    public class UnexpectedSetterInjection
    {
        [Test]
        public void Should_not_inject_a_setter()
        {
            using (var container = new Container(c =>
            {
                c.For<Foo>().Use<Foo>().Ctor<Bar>("bar1").Is<Bar>();
            }))

[2016-09-26 12:52] jeremydmiller commented on #509
@e-tobi I'll give you the same response I've given every time this has come up. It's too much work to change this underlying behavior and extremely easy to work around. **Everything** works easiest if you'll just go with pure constructor injection and I feel like this is a rare edge case.

[2016-09-26 13:36] e-tobi commented on #509
I don't think this is a rare edge case. Sometimes you simply have some properties with a public setter of the same type as a ctor argument. This is especially true for types like string, int and so on.
There should at least be a big fat warning in the documention about this unexpected side effect.

I think this happens a lot more often than you think and people just do not notice. I only stumbled

[2016-09-27 11:40] jeremydmiller commented on #509
@e-tobi Put in the pull request then. The best practices part of the StructureMap documentation urges against injecting primitives anyway.

[2016-09-27 11:40] #509 closed

[2016-09-29 09:38] dubray opened #510 "BuildUp with ExplicitArguments"
I'm looking for an overload of Container.BuildUp(),

Container.BuildUp(object target, ExplicitArguments args)

To avoid using Container.Configure() calls

I've glanced at the code of BuildSession and its BuildUp() implementation:

[code]

Is it a matter of calling
[code]

Before

[code]
and using the cached value instead?

Any suggestion on how to go about this?

[2016-10-13 09:58] erik-kallen opened #512 "Possible concurrency issue in StructureMap.Util.Cache, version 3.1.6"
Hi, I am investigating a very strange issue in our production environment, and this led me to check the StructureMap.Util.Cache class (https://github.com/structuremap/structuremap/blob/1075e6f49a8b9b15aa86e16bf4a15425421e2450/src/StructureMap/Util/Cache.cs)

Most of the methods will take the lock represented by `_rwLock`, but the indexer and the `GetEnumerator()` implementations will not (and if t

[2016-10-13 11:54] jeremydmiller commented on #512
That all went away if you move up to StructureMap 4.*.

[2016-10-13 12:11] erik-kallen commented on #512
Unfortunately we are stuck with version 3 due to dependencies

[2016-10-13 13:20] jeremydmiller commented on #512
If you want, I can take a pull request to the 3.1 branch and push another update:https://github.com/structuremap/structuremap/commits/3.1

In 4, the `Cache` class was completely replaced with `ConcurrentDictionary`. You could repeat that change.

[2016-10-13 20:41] erik-kallen commented on #512
So you think it is possible to backport the ```Cache``` to ```ConcurrentDictionary``` change to 3.1? If so, I can look into that tomorrow

[2016-10-18 18:56] shaulbehr opened #514 "Help please: Null reference exception in StructureMap brought down our production site"
Hi,
We had a pretty major crisis today; our production API servers went down.  Any API that was called resulted in the following error message being written to our logs:

[code]

Line 21 of StructureMapMiddleware is this:

[code]

It should be noted that nothing new was deployed today; the version of code in production has been working fine for the last 5 days.  But suddenly today, under peak load

[2016-10-18 19:02] jeremydmiller commented on #514
@shaulbehr *Something* disposed the main application container in your application is my guess. We got much better error messages and even a "DisposalLock" feature in newer versions of StructureMap for that kind of thing. Might wanna look for any class that injects `IContainer` directly maybe and accidentally disposes it.

[2016-10-19 20:11] shaulbehr commented on #514
@jeremydmiller Thanks, sounds like a good idea to upgrade.  How do you use the DisposalLock?

[2016-10-21 15:10] CNemo7539 opened #515 "Please allow automatic tag creation to have tag for each nuget package/release"
Would be nice to have version tag for each nuget build. This will allow easy version search/pull for external uses. In particular I'm interested getting SM into BlackDuck OSS knowledge base. https://www.blackducksoftware.com/solutions/application-security.

[2016-10-27 09:34] shaulbehr opened #517 "Private Container reference being switched - crazy!"
Hi,

A while ago, I was experiencing some really wacked out cross-thread conflicts in StructureMap.  I posted on [StackOverflow](http://stackoverflow.com/q/38775306/7850), and eventually [solved](http://stackoverflow.com/a/38814723/7850) my own problem with a workaround.

But this is now coming back to bite us in another part of our code.
We're getting exceptions indicating that the Container has

[2016-10-27 09:34] shaulbehr commented on #517
[ExceptionHandlerMiddleware.zip](https://github.com/structuremap/structuremap/files/555412/ExceptionHandlerMiddleware.zip)

[2016-10-27 14:25] jeremydmiller commented on #517
@shaulbehr If you're up on SM 4.4.1, you can use the `IContainer.DisposalLock` property right after app startup to latch it. Doesn't solve the underlying problem of what in the world is disposing it, but it will stop the problem from taking down your production app.

Just make sure you remove the lock *before* you try to shut down the app so Dispose() can work at the end;)

[2016-10-31 08:30] shaulbehr commented on #517
@jeremydmiller I thought through what you're saying, and I don't think the DisposalLock will help.  To be clear about what is happening, here's the logging code and output, copied from the SO answer:
[code]
And here's what came out:
[code]
See, the reference of the `Container` variable is being switched to a container from another thread!  I don't even know how that's *possible*, unless you've got

[2016-10-31 10:51] jeremydmiller commented on #517
@shaulbehr I don't know what to tell you at this point. There's nothing in StructureMap itself that would be doing that. What's the application framework you're using? Are you using any kind of custom SM adapter?

[2016-11-01 13:30] jeremydmiller commented on #512
This was done.

[2016-11-01 13:30] #512 closed

[2016-11-01 13:32] jeremydmiller commented on #510
Sorry, I let this one get by me. You *should* be able to get away with just adding defaults to the session cache before you call `plan.BuildUp`

[2016-11-01 13:32] jeremydmiller commented on #514
Going to close this one since there's essentially a duplicate issue #517

[2016-11-01 13:32] #514 closed

[2016-11-01 13:35] jeremydmiller opened #518 "Model diagnostics needs a "WhatDependsOn<T>()""
Coming up at work. We really need to see every registration that depends on a certain service for troubleshooting. Has to be a recursive search down.

What to do with Lambda dependencies? Perfect is the enemy of the good?

[2016-11-02 18:54] nelsonwellswku commented on #502
@jeremydmiller I can live with the workarounds. I am going to close this issue if you don't consider it a bug.

[2016-11-02 19:41] jeremydmiller commented on #502
@nelsonwellswku It definitely *is* a bug, but that's such a nasty area of the code that I'll probably kick this can down the road a while. Go ahead and leave it open.

[2016-11-11 00:50] silkfire opened #519 "Unable to replace a parameter at runtime"
I'm trying to override a constructor parameter, namely a Uri, at runtime but so far have been unsuccessful.

Registration:

[code]

Invocation:

[code]

I get an instance of RestClient successfully, but unfortunately, the BaseUri of the instance remains "http://www.google.com" as per the registration. Strangely enough, if I do the same thing, but for the "userAgent" parameter, I have no problem ch

[2016-11-11 02:02] jeremydmiller commented on #519
Dunno, it's nothing I've ever tried to do. Can you try With<Uri>( uri ) instead?

[2016-11-11 23:32] silkfire commented on #519
That still didn't work. It's as if the resolver doesn't want to replace the initially assigned constructor parameter. Only works for the string parameter, though....

[2016-11-13 15:53] jeremydmiller commented on #519
Can you add a failing test here that describes what you're trying to do that's not working and I'll take a look at that on Monday?

[2016-11-13 16:33] silkfire commented on #519
I'm trying to override a constructor argument defined in the container registration, as specified here: http://structuremap.github.io/resolving/passing-arguments-at-runtime/

It seems to work with one of the arguments, but not the other one.

[code]

I'm using RestSharp.NetCore as the RestClient.

[2016-11-17 01:20] silkfire commented on #519
Hi Jeremy,

Any update on this issue?

[2016-11-21 04:34] EverPresent commented on #459
I know this is closed, but I was searching for the same thing and this issue is near the top of the google results.  So for any future readers here is a working example of how to do what @SebaVDPInfra is requesting (FYI, I'm using StructureMap 4.4.1).

First, you need a policy to build and inject the ILogger.  The policy class below will attempt to inject via a constructor argument or a publicly s

[2016-11-21 11:41] jeremydmiller commented on #459
@EverPresent Sweet, thank you for doing that.

[2016-11-21 12:18] medvjed opened #520 "Passing Arguments at Runtime .With<> not working with GetAllInstances"
I try to upgrade from 2.63 to the latest 3 or 4 version all seems well except this:
this used to work in 2.6 but fails in both 3 and 4.

        public IList<IShippingProvider> GetAllProviders(Order order, Address shipTo)
        {
            var list = scope.CurrentNestedContainer
                .With<Order>(order)
                .With<Address>(shipTo)
                .With<IOrderService>(orde

[2016-11-21 14:02] jeremydmiller commented on #520
"But Container.GetAllInstances uses BuildSession.GetAllInstances()"

-- if you look at the implementation, it's sticking the services you pass in as explicit arguments to the BuildSession defaults before building it out.

Any chance I could get you to write a failing test that demonstrates the problem?

[2016-11-21 14:03] jeremydmiller commented on #517
@shaulbehr Is this still an issue? Can I close this one yet?

[2016-11-21 14:16] shaulbehr commented on #517
It has not been resolved, but I have worked around it.  I guess that means you can close it, but that doesn't imply that the root problem has been solved... ;)

[2016-11-21 14:16] #517 closed

[2016-11-22 01:41] amattie opened #522 "Assembly scanning not working when targeting .NET Core app"
In StructureMap 4.4.1, I can't get any of `IAssemblyScanner`'s path or directory scanning operations to work in my app that targets `netcoreapp1.1`. Pretty certain it didn't work with 1.0 either.

After poking around a bit, I think the problem is that the wrong conditional compilation symbols are used in [TypeExtensions.cs](https://github.com/structuremap/structuremap/blob/94b2e351cd1b232678248e21

[2016-11-22 12:46] jeremydmiller commented on #522
Nice. Feel like doing a pull request for this?

[2016-11-22 14:23] jeremydmiller commented on #522
Closed by #523

[2016-11-22 14:23] #522 closed

[2016-11-22 14:26] jeremydmiller commented on #519
@silkfire I'm looking at it now.

[2016-11-22 14:33] jeremydmiller commented on #519
@silkfire This code worked for me in SM 4.4:

[code]

[2016-11-22 21:28] silkfire commented on #519
Your code works for me as well. Then thing is, it only works with a single `With<Uri>(new Uri("something://2")`, but not if I supply the parameter name as a string: `With("uri").EqualTo(new Uri("something://2"))`.

Also, it seems in some cases I need `AlwaysUnique()`. Are concrete types not transient in StructureMap?

[2016-11-22 22:30] jeremydmiller commented on #519
Concrete types are transient. You can see the rules on what that actually means in StructureMap here: http://structuremap.github.io/object-lifecycle/

[2016-11-22 23:33] jeremydmiller commented on #519
Dude, can you send me an exact unit test that fails to reproduce your problem? I still don't get what's not working for you here.

[2016-11-22 23:37] medvjed commented on #520
I wrote a simplification of the problem in a unit test but that one works ok.
So then I did the unit test with my own production objects
and it also passed!

There is no difference  except,
Unit test context and asp.net MVC4 app with  DependencyResolver, StructureMapDependencyScope,PreApplicationStartMethod,  etc..

but fact is directly after this call (so my own code had no chance to mess this up

[2016-11-23 00:27] silkfire commented on #519
Sorry, was't my intention being rude. I've just been annoyed with this for a while. I definitely know it's not your fault.

Here's a unit test you can try to run. Both tests fail.

[code]

[2016-11-23 19:15] silkfire opened #524 "Transient nested dependency not a unique instance when resolved"
I decided to move this problem to a new issue because it actually was unrelated to the one I called this issue from.

When resolving a service that is dependent on a two services that are dependent each on its own instance of a concrete type, this inner concrete type is the same instance in both inner services. The default behavior should be that StructureMap should give me a new instance upon eac

[2016-11-23 23:25] medvjed commented on #520
I'm pretty sure I found it.

The unit test (simplification) I made passes!
My actual objects in the unit test also pass the test.

But it still is a bug in structure map I think, so this one is tricky to unit test.
Unit test:
BuildSession.FindObject uses  NulloTransientCache.Get()
And passes the test.

But in the MVC app.
BuildSession.FindObject uses LifecycleObjectCache.Get
So The Ishippingprovid

[2016-11-24 01:11] jeremydmiller commented on #520
Can you do me a favor? Look at your WhatDoIHave() output and see if any of your IShippingProvider's have any scope besides Transient.

[2016-11-24 22:28] medvjed commented on #520
All  are Transient.
I am testing debugging with 3.1.9 now because I can add that source code to my vs2013 project, but I saw the same with the latest version 4 dll

[2016-11-28 13:44] silkfire commented on #524
Hi, have you had time to look into this issue?

[2016-11-30 22:26] jeremydmiller commented on #524
I'm looking at it now. Forgot to ask, what version of StructureMap are you on?

[2016-11-30 22:47] silkfire commented on #524
I'm on latest 4.4.2, on a .NET Core project (v 1.1.0). Thank you.

[2016-11-30 22:59] jeremydmiller commented on #524
@silkfire This is all expected behavior. StructureMap's version of "transient" really means "per object graph request". To get the behavior you're expecting here, use:

[code]

The transient behavior is explained here: http://structuremap.github.io/object-lifecycle/supported-lifecycles/

[2016-11-30 23:00] silkfire commented on #524
Okay cool, kinda as I suspected. What's an object graph in this context?

[2016-11-30 23:01] jeremydmiller commented on #520
Can you explain what you mean by:

"My unit test code that recreates the issue but passes as a unit test and should fail as mvc code in a controller structuremap.mvc5 package with StructureMapDependencyScope, nested container etc.:
helper classes"

[2016-11-30 23:05] jeremydmiller commented on #520
Oh, and honestly, in your case I'd try to eliminate the usage of the explicit arguments and try to pass `Order` and `IOrderService` to your `IShippingProvider` interface

[2016-12-07 18:06] NinoFloris opened #525 "How to decorate scanned ConnectImplementationsToTypesClosing types?"
Ok so after trying many different ways of getting this to work I'm coming here, I've given up.

How would I decorate a generic interface type that has 20+ implementations with 5 to 6 decorators?

So that every GetInstance call for a closed version of this generic interface type results in a 'pipeline' of these decorators + the final real implementation.

[2016-12-07 18:11] jeremydmiller commented on #525
"How would I decorate a generic interface type that has 20+ implementations with 5 to 6 decorators?" -- I would strongly suggest that you don't do that because of the complexity. Just curious, why do you want to do this? This isn't related to MediatR is it?

There's an example of applying an interception policy to an open generic interface in the docs at the very bottom of this page:

http://struc

[2016-12-07 18:26] NinoFloris commented on #525
Maybe... Ha, spot on. Ok so this is not easy to do then. Could you explain why structuremap has a hard time knowing how to build these instances?

[2016-12-07 18:30] jeremydmiller commented on #525
There's no reason why StructureMap **can't** do this, I was just questioning why you wanted to.

[2016-12-07 18:59] NinoFloris commented on #525
I'm not saying it can't, I'm asking why it cannot deduce the correct behavior when doing

[code]

I'd like to understand what it does better.

[2016-12-07 19:22] jeremydmiller commented on #525
It's just not built with that use case of open generics in mind is all and it's not magic. If you see the link to the documentation I posted up above, there's an example of what you're trying to do on that page to attach decorators against the open generic type.

Really though, you should probably be talking to @jbogard about MediatR having some kind of formal composition model to make this kind o

[2016-12-07 19:41] jbogard commented on #525
Yeah, this is in the works for MediatR 3.0. I tried to avoid a composition model and push it to the container. But it seems worse and I get all sorts of ?s about how to do it for every container on the planet.

[2016-12-07 19:52] jeremydmiller commented on #525
If only you knew of a framework that already does that **exact kind of composition model**...

[2016-12-07 20:01] jbogard commented on #525
Yeah I know where I'm stealing my compositional model from. Or at least "inspiration"

[2016-12-09 18:59] NinoFloris commented on #525
Alright, for now I have a simple internal implementation also loosely based on owin. Interested to see what @jbogard cooks up for v3.

Wasn't so insanely complicated after all might be the basis for your next tweet @jeremydmiller ;)

[2016-12-09 19:34] jeremydmiller commented on #525
My attitude here is that you shouldn't be trying to do things like what you were doing as part of the core of your architecture, period. You're unfortunately running head smack into a sore point with me because of how many people are just killing themselves (and me) with complexity on the StructureMap list as they try to get too fancy with MediatR.

[2016-12-09 19:48] NinoFloris commented on #525
Alright and I understand that, and I fully agree.

The only reason I thought I could do this for now easily with structuremap is because one of your acceptance tests has an open generic decorator sample. I'd already read https://github.com/jbogard/MediatR/issues/102 on github for the plans about MediatR 3.0 including a pipeline type of construct by default.

I was hoping to use something like Stru

[2016-12-12 02:44] jakejgordon opened #526 "Issues with .TheCallingAssembly() in StructureMap 4.4.2"
For the purposes of this issue, I have 3 projects -- "Web" (which is a .NET MVC 5 project), "IoC" which is a project that contains the StructureMap container registration, and a third project we'll call "Tests". The IoC project has the following class:

[code]

The CommonRegistry is defined as follows:
[code]

I have included the ```using StructureMap.Graph;``` namespace in CommonRegistry. For som

[2016-12-12 03:50] jakejgordon commented on #526
I forgot to attach the screenshot of the issue:
![structuremap_4 4 2_errorjpg](https://cloud.githubusercontent.com/assets/3045786/21087479/1c56cf76-bff4-11e6-9e4c-4063f33e254b.jpg)

[2016-12-12 13:18] jeremydmiller commented on #526
Are you developing on Netcoreapp1.0 or Netstandard 1.* something? `TheCallingAssembly` isn't available in SM's CoreCLR support. I'm very surprised that it compiled. Can you just force it by specifying the assembly?

The mechanism that StructureMap has traditionally used to determine the calling assembly isn't supported in Netstandard 1.*.

[2016-12-13 12:54] jakejgordon commented on #526
Sorry for the delayed response. This is a .NET 4.5.2 application. Truthfully I didn't notice this (and still don't know how to interpret this), but is [the NuGet page for 4.4.2](https://www.nuget.org/packages/structuremap/4.4.2) says it has dependencies on .NETStandard -- but I'm too much of a newbie to tell from [the nuspec file](https://github.com/structuremap/structuremap/blob/master/src/Struct

[2016-12-13 13:04] jeremydmiller commented on #526
@jakejgordon Could I get you to do me a huge favor? Could you drop back to say, SM 4.2, and see if it works there? MissingMethodException pretty well has to mean mismatched assemblies somehow. Any chance there's an errant StructureMap4.dll floating around?

SM 4.4.* targets both .Net 4.5 and Netstandard 1.3/1.5, and all of its dependencies would support either.

[2016-12-13 13:52] jakejgordon commented on #526
I certainly can. I'll do it tonight or tomorrow morning and post my
findings back here.

On Tue, Dec 13, 2016 at 8:04 AM, Jeremy D. Miller <notifications@github.com>
wrote:

[2016-12-14 03:48] jakejgordon commented on #526
First I tried deleting all of my local structuremap* packages from my packages folder and then restoring to see if that would do anything. Notice I've got a few of them:

![all_structuremap_packages](https://cloud.githubusercontent.com/assets/3045786/21168844/341c053a-c185-11e6-95bc-2874cf1dbbdc.jpg)

After that failed, I tried downgrading everything to 4.2.0.402 but I get a NuGet error. I wonder

[2016-12-14 10:22] gravityFlower opened #527 "Duplicate source code?"
Hello,

in the documentation on the page [http://structuremap.github.io/the-container/forwarding-requests-for-a-type-to-another-type/](http://structuremap.github.io/the-container/forwarding-requests-for-a-type-to-another-type/) it seems that both code snippets are representing the same code. Instead of displaying the use of Forward<TFrom, TTo>() in the first and the lambda in the second, both seem

[2016-12-15 04:06] jakejgordon commented on #526
I upgraded back up to version 4.2.* and everything worked fine this time. Maybe the last error was a transient fluke.

Then I upgraded back up to the latest version 4.4.2 and I am unable to recreate the problem. So there must have indeed been a mismatched assembly _somewhere_ but I'm not sure why it's resolved now. Anyway, I think we can close this issue as I'm unable to recreate it now. If for so

[2016-12-15 04:06] #526 closed

[2016-12-21 12:54] mlooise opened #530 ".With() not injecting constructor variables"
Hi,

I recently tried to switch to StructureMap 4.4.2 but i'm facing a bit of a issue using the With() feature. I'm using StructureMap to set up my ServiceHost for WCF. In order to so i have to create a ServiceHost with some variables given from the actual WCF framework. In order to create the ServiceHost I did the following (inspired by https://lostechies.com/jimmybogard/2008/07/30/integrating-st

[2016-12-21 13:21] jeremydmiller commented on #530
I've had a couple complaints about this, usually because of Uri types. As an immediate workaround, you can go to a single type that passes in the service type and the Uri as props or fields on that object. It's counter intuitive, but it'd hit the performance optimization that probably broke this and be significantly faster under any kind of load.

I think I'll finally have to look at this one, but

[2016-12-22 16:13] shaulbehr opened #531 "Help with performance please"
Hi,
We're using StructureMap 4.4.2.
One of our projects is a consumer for Azure EventHub.  Since we are absorbing a very high rate of incoming messages, our consumers need to work very fast.  And they weren't working fast enough.  So I instrumented some logging in the code, and found a consistent 200ms+ jump over a `container.GetInstance<ISomeInterface>()` line.
200ms doesn't sound like much, but

[2016-12-22 16:16] jeremydmiller commented on #531
Start by looking at the build plan for whatever that type is and go from there: http://structuremap.github.io/diagnostics/build-plans/

[2016-12-22 16:18] shaulbehr commented on #531
Thanks for the super-quick response!  I'll investigate and report back soon.

[2016-12-22 16:22] jeremydmiller commented on #531
Yeah, but don't expect a fast response coming back. I'm trying to clean my plate of outstanding things today, but I'm gonna be taking a break from any OSS work until after New Year's.

On your side, see if anything jumps out. Anything that's built by a lambda that could be slow, or the object graph is huge, or something else.

[2016-12-22 16:22] shaulbehr commented on #531
How do you make it recursive?  The build plan I'm getting goes just one level deep.

[2016-12-22 16:26] jeremydmiller commented on #531
Setting 0 as the "max depth" should make it be unlimited. Or jack that number way up.

[2016-12-22 16:26] shaulbehr commented on #531
Nm, found it; I set maxLevels to 300.  I thought the 0 default would mean unlimited, but apparently not...

[2016-12-22 16:27] shaulbehr commented on #531
Ah, you answered same time as I wrote the above. :)  Nope, the 0 doesn't work as "unlimited".

[2016-12-22 16:29] shaulbehr commented on #531
OK, so yes, the plan is pretty deep.  File is 7011 lines long.  But still, if everything is just calling default constructors, that should still be fast enough, no?  Is there any particular string I should search for that's a common flag for something wrong?

[2016-12-22 16:30] jeremydmiller commented on #531
I'm not gonna try and guess without any context

[2016-12-22 17:05] shaulbehr commented on #531
Thanks, I managed to trim down the dependency tree by separating out some methods into a different class.  That build plan was really helpful.
Thanks for you help, and happy holidays!

[2016-12-22 17:05] #531 closed

[2017-01-02 09:14] DixonDs commented on #527
You sure? I see the `Forward` usage in the first snippet.

[2017-01-02 09:22] DixonDs commented on #524
@silkfire From the documentation (http://structuremap.github.io/object-lifecycle/supported-lifecycles/)

In your case, it is `container.GetInstance<MasterService>()`

[2017-01-02 09:32] gravityFlower commented on #527
Seems like i missed that. Did look the same to me. Sorry.

2017-01-02 10:14 GMT+01:00 Dmytro Dziuma <notifications@github.com>:

[2017-01-02 09:33] #527 closed

[2017-01-05 07:48] #524 closed

[2017-01-09 00:20] NTTAKR commented on #364
Hi Jeremy,

I quite don't understand. You said you would move it out to StructureMap.DynamicInterception and when I look there, it says "Obsolete, look at main repository".

The place in the documentation about dynamic interception is blank. Not very helpful :-(

Thanks for your input.

[2017-01-09 06:33] DixonDs commented on #364
@NTTAKR It was moved out to a separate repo, but after some time a decision was made to move it back to this repo.

As for documentation, it is in my to-do list, sorry, that it takes too long for me to do it. In the meantime please check https://github.com/structuremap/structuremap/blob/master/src/StructureMap.DynamicInterception.Testing/DynamicProxyInterceptorAcceptanceTests.cs, the usage is quit

[2017-01-09 10:31] NTTAKR commented on #364
Hi Dmytro,

thanks for your quick reply.
I think I might have an out of date version, because the ISyncInterceptorBehavior does not exist in StructureMap.
I installed from NuGet using the latest version.

I’ll try again by using the current GitHub code.

Best regards,
  Andreas Kroll

NTT-SolutionWare GmbH
Andreas Kroll
Am Hang 1G
40822 Mettmann
Germany

Tel:      +49 (2104) 175 7590
Fax:      +49

[2017-01-09 10:33] DixonDs commented on #364
@NTTAKR it is in a separate package: https://www.nuget.org/packages/structuremap.dynamicinterception

[2017-01-09 10:35] NTTAKR commented on #364
That is very strange.
I searched for something like that, and I tried it again a few minutes ago:
Nuget does not show any packages for structuremap.dyn*

[2017-01-09 10:38] NTTAKR commented on #364
OMG.... I just verified:

If you write structuremap.dyn or Structuremap.dyn NUGET does NOT find any package at all.

If you capitalize the M => structureMap.dyn it works

OMG what a big failure....

[2017-01-10 01:42] NTTAKR commented on #364
Hi again,

I managed to install the necessary Nuget package and tried to implement a Method interception like in the test files, but was unable to do that.
I always get an exception stating:

StructureMap.Building.StructureMapInterceptorException

"Decorator Interceptor failed during object construction.  See the inner exception
1.) DynamicProxyInterceptor of test1.ILog with interception behaviors

[2017-01-10 06:34] DixonDs commented on #364
@NTTAKR Could you report your issue separately? This thread is closed and cannot be really used for tracking all issues related to dynamic interception

[2017-01-11 16:38] AlexGrrr opened #533 "Child container of a child container fails to honor the child container's config"
When I create a child container from a child container (a grandchild container if you will), then the first child container's configuration is not used as a fallback and instead it falls back on the top container.
The following code illustrates the problem:

`using StructureMap;`
`namespace ConsoleApplication2`
`{`
`    public interface IInt1 { void Get(); }`
`    public interface IInt2 { void Get

[2017-01-11 18:02] jeremydmiller commented on #533
Meh, child containers internally are based on the top level container. This isn't really a scenario that I've ever considered.

[2017-01-12 11:02] AlexGrrr commented on #533
Got it, will try to make do without it then,
Thanks anyway!

[2017-01-17 16:35] MarkPerryBV opened #537 "Constructor Policies not working with Decorators"
I have a set of decorators surrounding an ICommandHandler setup.

[code]

I also have the SeriLog Policy from here https://github.com/structuremap/structuremap/issues/459

My decorators cannot inject the ILogger as this comes with a "no default instance specified for ILogger" error.

I can inject ILogger everywhere else but inside my decorator classes. Any ideas?

[2017-01-17 16:57] jeremydmiller commented on #537
I don't know any reason why that would be true. Anything else going on in there? Is it using a different container somehow inside of the logger policy maybe? I'd have to see more code to have anything intelligent to tell you about this.

[2017-01-18 09:54] MarkPerryBV commented on #537
There's no `IContainer` usage inside the Logger Policy.

asp net core `startup.cs` inside `ConfigureServices`
[code]

[code]

[code]

[2017-01-18 13:23] jeremydmiller commented on #537
How is the ILogger registered? Only through a policy? What's your policy look like? It *might* be an issue with the policies not firing against the decorator Instance.

[2017-01-18 16:35] MarkPerryBV commented on #537
[code]
see #459

[2017-01-19 20:28] robgha01 opened #538 "Structuremap is not creating a new object on second web request, however dependency in the object is disposed and no constructor is called."
I tried to find this strange behavior bugg and solve it but i just lose my hair on the issue.
I got this code in the client:
https://gist.github.com/robgha01/bc5eec103363f87b7a6828d87beb9731

and this core library that uses Structuremap mvc5 nuget package and the webapi2 package installed. here is the code project for that: https://1drv.ms/u/s!AvOXr9f-QF0p2ECxs1_TgUM-U3RJ

i have both tested with

[2017-01-19 20:34] jeremydmiller commented on #538
What's the actual exception and when does that happen? I don't see anything untoward going on, but I haven't looked at the MVC & Web API adapters in a long time.

[2017-01-19 20:35] robgha01 commented on #538
Well when i request a second time it jumps into my UserService.IsAuthenticated() however the webSecurity object is null as the constructor is not called i think structuremap is using the disposed object a second time or someting.

[2017-01-19 20:37] jeremydmiller commented on #538
What version of StructureMap are you using? You should get an ObjectDisposedException in that case on any recent version of StructureMap.

[2017-01-19 20:38] robgha01 commented on #538
Im using 4.4.2

[2017-01-19 20:41] jeremydmiller commented on #538
Yeah, so it's not the nested container being disposed, and if it were sharing the nested container erroneously, you would just be getting the same set of objects. I think I'd tell you to look into how it's doing the nested container scoping to the HttpContext.

[2017-01-19 20:46] robgha01 commented on #538
I just spotted one strange thing
`public class StructureMapDependencyScope : ServiceLocatorImplBase`
is not implementing a IDisposable but it has a public void Dispose() { function

may that be the reason StructureMapScopeModule end request is not calling the dispose... its a stupid mistake but il test if it is resolved...

[2017-01-20 00:23] robgha01 commented on #538
Finally i think its all solved it was multiple problems first i had a cache layer that was acting a bit bad,
then i had some minor problems with the actual core project replaced HttpContext which used container.TryGet... moved that logic to constructor parameter Func<HttpContextBase> for unit testing instead.

Thanks for giving me inputs on the problem it helped me rethink 👍
Hope is key, Key is sl

[2017-01-20 00:23] #538 closed

[2017-01-20 05:28] schotime opened #539 "IContext always returns the root container"
For a lambda registration the `context` object seems to always point to the root container. Is this the correct behaviour. Seems like it has something to do with ThreadLocal lifecycle because if i remove that it works. Thoughts?

[code]

[2017-01-20 11:52] jeremydmiller commented on #539
@schotime If that service is registered as ThreadLocal, the nested container has the parent container build it. That's actually behavior as expected.

And `IContainer` itself is in the container. So you can do:

[code]

and it'll get the `IContainer` that built it.

What's the purpose of using thread local here?

[2017-01-20 21:28] schotime commented on #539
Its actually hybrid because we are using the same registry in the web application as the console application.

What is the intention behind in being built by the parent container?

[2017-01-22 22:23] jeremydmiller commented on #539
@schotime Think about that a little bit. Unless the lifecycle is the default transient or the newer ASPNet Core compliant "Container" scoped, the nested container shouldn't be building it out.

As for the child container, I just don't know, I've never tried that or thought to test it in any way. The hybrid lifecycle is a legacy approach IMO. I prefer to rely on nested containers for scoping most o

[2017-01-22 23:23] schotime commented on #539
@jeremydmiller This is what we have found in a quick test.
It seems if you call transient() explicitly then it will get the correct container.
[code]

[2017-01-22 23:41] jeremydmiller commented on #539
Like I said before, a Transient scoped object would be owned by the nested container. Not sure what you're wanting to happen here.

Btw, you don't need to do this:

[code]

a simple:

[code]

will effectively do the exact same thing, but with less noise.

[2017-01-22 23:50] schotime commented on #539
Sorry, yeah we understand you can use the different syntax.
I updated the previous post and point 3 is the case we find strange. I've copied it below.

[code]

[2017-01-23 13:26] jeremydmiller commented on #539
I've got you, yep, this one is a bug. Any interest in doing the pull request for this one?

[2017-01-23 20:52] schotime commented on #539
Yeh. No probs at all. We'll have a look.

Any secrets to building the solution? I think we tried but can try again and let u know.

Classes we should look first?

Thanks @jeremydmiller

[2017-01-23 20:57] jeremydmiller commented on #539
You shouldn't have to do anything but open the solution at this point, but I don't remember how the CommonAssemblyInfo is done at the moment. `rake compile` if nothing else. You probably need to look at the ThreadLocalLifecyle class and how it finds its object caches. Honestly, debugging through that w/ your test up above might be the fastest way to get into that class.

[2017-01-23 22:44] schotime commented on #539
Awesome. Cheers

[2017-01-24 14:34] MarkPerryBV commented on #459
@jeremydmiller Here's a minimal class to demonstrate the issue. I do believe that the ctor policies are NOT being applied to the decorated instances.

[code]

[2017-01-24 14:37] jeremydmiller commented on #459
@MarkPerryBV Can you add a new PR with the failing test for this one? Any chance you'd be interested in doing the fix for this too?

[2017-01-25 04:41] MattHoneycutt commented on #530
I've been doing a little digging on this one.  It looks like With doesn't like array parameters, period.

The following spec fails:

[code]

[code]

The service receives an empty array when it is constructed.  I'm still narrowing in on why.  It's been a fun hunt so far! :)

[2017-01-25 18:47] jeremydmiller commented on #530
@MattHoneycutt There are a couple places where StructureMap is testing for whether or not a type is an IEnumerable, then dealing with that a little differently. It could easily be that that logic (it's a custom extension method somewhere) is too naive. `String` caused that problem here and there because it's IEnumerable<char>.

[2017-01-25 19:02] MattHoneycutt commented on #530
@jeremydmiller Yup, I expected it to be something like that.  I ran out of time to debug further last night, but I plan to pick it back up this evening.

FWIW, I haven't spent a lot of time diving deep into the SM code base before now.  It's been a lot of fun!

[2017-01-30 09:13] MarkPerryBV commented on #537
@jeremydmiller Here's a minimal test case which illustrates the issue.

[code]

[2017-01-30 14:17] jeremydmiller commented on #537
@MarkPerryBV Does the test above fail w/ an exception?

[2017-01-31 12:11] MarkPerryBV commented on #537
@jeremydmiller "No default instance supplied for ILogger"

[2017-02-02 10:20] MarkPerryBV commented on #537
@jeremydmiller I have made a PR with a failing test case in it.

https://github.com/structuremap/structuremap/pull/543

Please see comments on the PR with some detail on why I think its not working. Happy to fix it but need a bit of guidance on the code. Also happy to pair up on it over skype etc..

[2017-02-09 22:42] #533 closed

[2017-02-09 22:43] jeremydmiller commented on #520
No recent activity, I'm closing this one.

[2017-02-09 22:43] #520 closed

[2017-02-09 22:44] MattHoneycutt commented on #537
@MarkPerryBV: I'll pick this one up.  Thanks for the failing test case!  I'll ping you if I need any additional info.

[2017-02-09 22:46] jeremydmiller commented on #537
@matthoneycutt,

The first problem might be that this:

[code]

Might not be doing what you think it is. I'd have to double check, but I don't think that that attaches the decorator when it closes instances of ICommandHandler. It's certainly possible to use an interception policy behind the scenes that makes it act the way you'd think that it should.

Other than that, I haven't thought much about

[2017-02-10 23:03] MrKevHunter commented on #537
Looks to me like in his test ```TestLogger``` does not implement ```ILogger```

When I make it implement the interface it works fine

[2017-02-16 13:17] fabriciogd opened #548 "Unable to create a build plan for concrete type"
The problem occurs on the application startup, more frequently in IIS express.
Structuremap: 4.4.1

`Unable to create a build plan for concrete type Func<IFabricaDeFiltros> new Func<IFabricaDeFiltros>(Object, IntPtr method) ┗ Object = **Default** IntPtr method = Required primitive dependency is not explicitly defined 1.) Attempting to create a BuildPlan for Instance of Func<IFabricaDeFiltros> -- F

[2017-02-16 14:28] jeremydmiller commented on #548
@fabriciogd This isn't a bug. Just like the exception is telling you, it needs you to specify a value for the `IntPtr` constructor parameter of whatever the concrete type is. StructureMap doesn't guess with primitive values like that.

[2017-02-16 14:29] fabriciogd commented on #548
The concret type of IFabricaDeFiltros doesn't have constructor.

[2017-02-16 14:34] jeremydmiller commented on #548
`Func<IFabricaDeFiltros>(Object, IntPtr method)` does though.

[2017-02-16 14:36] jeremydmiller commented on #548
Why are you registering all the Lazy's and Func's?

[2017-02-16 14:43] fabriciogd commented on #548
Classes have many dependencies, so we declare all as lazy, to be initialized on demand.

[code]

[2017-02-20 09:09] CMircea opened #549 "Constructor policies are not executed from last registered to first"
The [documentation](http://structuremap.github.io/registration/constructor-selection/) says that constructor policies are `executed from last one registered to the first one registered`. That is not the case; the policies are executed in order of registration, so it's impossible to override the behavior of a previously-registered policy.

In my case I need to override the `AspNetConstructorSelecto

[2017-02-20 12:00] #530 closed

[2017-02-20 12:26] jeremydmiller commented on #537
@MarkPerryBV Duh, I finally looked though this more carefully. There's nothing crazy here, but you **have** to register `ILogger` directly

[2017-02-20 12:26] #537 closed

[2017-02-20 14:22] jeremydmiller opened #550 "Remove all traces of Paket from the build"
All obsolete now that we're using the dotnet CLI

[2017-02-20 14:34] #550 closed

[2017-02-20 14:36] jeremydmiller commented on #548
@fabriciogd I'm closing this. It's not a StructureMap bug and I'm trying to clean out our issue list. Double check how you're registering `Func<IFabricaDeFiltros>`

[2017-02-20 14:36] #548 closed

[2017-02-20 14:37] jeremydmiller commented on #519
@silkfire I'm **finally** looking at this now.

[2017-02-20 15:14] jeremydmiller commented on #519
@silkfire This will be in the next nuget (4.4.3 or 4.5, not sure yet). It didn't have anything to do with the `Uri` type. SM was still giving preference to the original inline dependency instead of overriding the choice. I addressed that.

**However**, I know this is counter intuitive, but it would be much more efficient inside of StructureMap to use a parameter object like below:

[code]

Then do

[2017-02-20 15:23] #519 closed

[2017-02-20 15:47] #500 closed

[2017-02-20 15:49] jeremydmiller commented on #549
@CMircea Good timing on your part, I'm working up SM fixes right now. I'm just going to make SM behave the way the docs say it should. I found the issue in the code.

[2017-02-20 16:07] #549 closed

[2017-02-20 16:51] jeremydmiller commented on #515
Done.

[2017-02-20 16:51] #515 closed

[2017-02-20 17:03] CMircea commented on #549
Thank you!

[2017-02-20 17:14] CMircea commented on #518
I would say to call lambdas as well, just like the valid configuration check.

[2017-02-20 18:15] jeremydmiller commented on #502
@nelsonwellswku Meh, I spent 90 minutes trying to solve this one, but it's going to take quite a bit of reorganization in the code. Sorry, but I'm kicking this can down the road again.

[2017-02-20 18:21] jeremydmiller commented on #525
@NinoFloris,

Sorry, but this one is gonna get a "works on my box"

[2017-02-20 18:23] jeremydmiller commented on #315
Nothing has happened on this one for awhile, so I'm closing it in the interest of bookkeeping

[2017-02-20 18:23] #315 closed

[2017-02-20 18:24] #525 closed

[2017-02-20 19:29] DerAlbertCom commented on #315
Ups, lost Focus ;) Maybe i give them a shot.

[2017-02-26 08:23] mlooise commented on #530
@jeremydmiller Thanks! I can also confirm that it now works with the lastest stable 4.4.3. Great job!

[2017-02-27 15:31] Pvlerick opened #552 "Inconstant behaviour between Child Containers and Profiles for Singletons"
Given these types:

[code]

If I declare a container as such

[code]

When requesting a type ```C``` on the root or on the "a" profile, I get different instances of ```C``` which have different injected ```IFoo``` (correct behaviour I believe since each should have its singleton):

[code]

However, when requesting an ```I```, I get two different instances on the root and on the profile but they ha

[2017-02-27 17:30] jeremydmiller commented on #552
@Pvlerick Profiles are just named child containers behind the scenes. If there's a bug, it's a bug in child containers. I'll look at this later in the week.

Honestly, you're getting into use cases I never considered with child containers and the rules about scoping. I threw child containers into the 3.0 release, but I don't use them myself and that frequently shows.

[2017-03-06 21:23] schotime commented on #539
We have found a fix for this. Will try and submit this week.

[2017-03-17 13:40] FedorReznik opened #554 "Grand child container resolves directly to root"
Hello I`m using StructureMap 4.4.3.564

What I want to achieve is having different implementations of a service registered on different container levels with ability to resolve all implementations (GetAllInstances<T>()).

But it seems that each child container with level deeper than direct child is skipping the hierarchy directly to root container.
Please see the test attached.

[code]

Is it a bu

[2017-03-17 13:46] MattHoneycutt commented on #554
I *believe* this is by design: all child containers, regardless of the level you create them, derive from the root container.  There is no hierarchy beyond that.

[2017-03-17 13:53] FedorReznik commented on #554
@MattHoneycutt hmm... this seems a little bit strange design decision to me, because as far as I know all the containers that supports child or scoped notation treating them as chain (f.ex.: Autofac, Unity). But well if it is really "by design" than can you add a mention of it to the documentation?

[2017-03-18 01:41] silkfire opened #555 ".IsIO"
At the moment, this code:

[code]

fails as _Configuration.GetConnectionString("DefaultConnection")_ returns null.

But rewriting above code explicitly like this:

[code]

Makes it work. What gives?

[2017-03-19 19:17] jeremydmiller commented on #555
Are you sure you've got the ctor argument right, and is it really defaulting to the SqlConnection constructor that you think it is? StructureMap doesn't do any magic, read the tea leaves logic to pick a constructor by default.

There's nothing here to do, so I'm closing this one.

[2017-03-19 19:17] #555 closed

[2017-03-19 19:22] jeremydmiller commented on #554
@FedorReznik @MattHoneycutt I'd have to go look back at the source, but the child containers were meant to be able to be n-deep. I don't particularly think that's a good usage, but still.

@FedorReznik The GetAllInstances() call isn't recursive like that in StructureMap. It's not something I ever anticipated and honestly not something I'd use myself. If you like Autofac's behavior better, by all m

[2017-03-19 19:33] jeremydmiller commented on #554
Meh, thought about this, and it wouldn't be a big change internally. I'm reopening this.

[2017-03-20 08:00] FedorReznik commented on #554
@jeremydmiller thanks!

[2017-03-21 21:12] elendil-software opened #556 "IEnumerable<Lazy<T>> doesn't work"
Hi,

Is it possible to use an IEnumerable<Lazy< IMyPlugin >> ?

I tried to do :

[code]

And in the class where I want to use it :

[code]

When I start my project all seems to go well, put when I try to access to _myPlugins I get this error :

If I look at the content returned by WhatDoIHave method, I can see the classes that implement IMyPlugin.
And it works if I try with an IEnumerable< IMyPlug

[2017-03-21 21:23] jeremydmiller commented on #556
The exception is telling you what's up here. You have *some* registrations for IMyPlugin, but not one that's the default. More likely than not, you've got SM going down a weird path because this isn't something I've even thought about trying to support.

Can you try switching to `Lazy<IEnumerable<IMyPlugin>>` instead? But of course I also have to ask, why would you possibly want to do that?

[2017-03-22 07:31] elendil-software commented on #556
Ok, but what do I have to do to specify the default implementation ?

I need to provide several implementation of an interface. The user can configure the app and choose which implementation he want to use, but in most cases that will only be during the first use of the software (or in case of configuration changes). The other times only the configured implementation will need to be instantiated.

[2017-03-28 14:34] leddt commented on #494
@jeremydmiller I believe this was a breaking change. The following test fails in StructureMap 4.3 (as well as the latest 4.4.3), but passes in 4.2.0.402.

If I mark `SomeClass` as `AlwaysUnique`, then the test passes in all versions. Note also that the test passes for a _regular_ container. It only fails on _nested_ containers.

[code]

[2017-03-28 17:45] jeremydmiller commented on #494
@leddt Can you just start a new issue for this? Interested in doing a PR for it? Might be as simple as making the `ExplicitInstance` have the always unique lifecycle.

[2017-03-28 17:53] leddt opened #557 "Using With() in nested containers returns cached instances instead of creating new ones with each call."
The following test fails starting with StructureMap 4.3. I believe it's related to #494.

If I mark `SomeClass` as `AlwaysUnique`, then the test passes. Note also that the test passes for a regular container. It only fails on nested containers.

[code]

According to Jeremy:

[2017-03-28 17:55] leddt commented on #557
I've never really dug into the internals of SM's code, but I'll try to submit a PR for this soon-ish :)

[2017-04-03 10:33] hisuwh opened #559 "Calling CreateFactory results in FileNotFoundException in .net core"
I am trying use Structuremap.AutoFactory in a .net core application.

I have Structuremap working but when I added a registration with `.CreateFactory()` I now get System.IO.FileNotFoundException.

Is this a bug?  Or any ideas how to fix this?

![image](https://cloud.githubusercontent.com/assets/4470351/24605606/619b62e8-1861-11e7-8788-13e8043aa285.png)

[2017-04-03 15:11] robymes opened #560 "Dynamic Interception assembly issue with ASP.NET Core 1.1"
I can't make Dynamic Interception work with ASP.NET Core 1.1

- fresh asp.net core project in Visual Studio 2017
- added StructureMap.AspNetCore from nuget
- configured StructureMap.AspNetCore: build & run ok
- added a custom service (IFoo, Foo) to registry: build & run ok
- added StructureMap.DynamicInterception
- added custom ISyncInterceptionBehavior
- configured registry to intercept custom se

[2017-04-03 15:27] jeremydmiller commented on #560
Probably a duplication of #559

[2017-04-03 16:06] robymes commented on #560
I don't know if it's an exact duplication of #559: the exception is the same, but in my case the standard asp.net core integration works well simply using StructureMap.AspNetCore, then I received the exception introducing StructureMap.DynamicInterception.
I think StructureMap.AspNetCore doesn't have a dependency on StructureMap, instead StructureMap.DynamicInterception has it.
at the end maybe the

[2017-04-03 16:32] jeremydmiller commented on #560
@robymes I don't think this has anything whatsoever to do with SM internals. I think this is all Nuget woes. VS2017 clearly changes Nuget behavior and it's causing me aggravation on several other projects too. If you'd be up for that, we have gotten reports that some of the Nuget resolution problems go away if you use Paket

[2017-04-05 07:57] DixonDs commented on #560
@jeremydmiller so far, what I see, the latest published StructureMap 4.4.3 assembly has version 4.4.3.564, but StructureMap.DynamicInterception is build with dependency on StructureMap 4.4.3.571.

[2017-04-06 11:15] jeremydmiller commented on #559
@hisuwh Hey, can you tell me a little bit more about your environment? Was this .Net 4.6 or a CoreCLR targeted project? Are you using VS2017 by chance, because that's way, way more temperamental about Nuget than previous versions. Do you actually have the StructureMap nuget installed to this project?

[2017-04-06 11:19] jeremydmiller commented on #560
@DixonDs The Nuget versioning is set to >4.4.3 and the assemblies are unsigned. That really shouldn't matter since everything is unsigned.

@robymes What .Net version are you targeting, and how are you resolving nugets? With the new VS2017 version of csproj and version of the dotnet cli? Can you actually check whether or not the StructureMap nuget is correctly installed and the StructureMap.dll is

[2017-04-06 12:04] jeremydmiller commented on #556
@elendil-software All the registration DSL is doc'd here: http://structuremap.github.io/registration/registry-dsl/

[2017-04-06 12:05] #557 closed

[2017-04-06 12:51] jeremydmiller commented on #560
@DixonDs @robymes New nugets are up for StructureMap 4.4.4, AutoFactory 1.0.1, and DynamicInterception 1.0.2. Try those and see if the binding problems go away?

[2017-04-06 12:51] jeremydmiller commented on #559
@hisuwh Hey, would you mind updating to the very latest nugets and see if it gets better?

[code]

[2017-04-06 16:17] robymes commented on #560
thanks a lot, I'll try and I'll give you feedback

[2017-04-07 09:25] hisuwh commented on #559
Thanks for the response @jeremydmiller

CoreCLR currently, yes 2017 and the structuremap nuget is installed in this project.

I will update the versions shortly and test this thanks

[2017-04-07 11:04] robymes commented on #560
Great! it works
Thank you

[2017-04-07 11:08] #560 closed

[2017-04-07 14:35] hisuwh commented on #559
Yes this solves my issue.  Thanks

[2017-04-07 14:35] #559 closed

[2017-04-11 01:41] #552 closed

[2017-04-12 05:47] knoxi opened #562 ".With(...) not injecting constructor variable"
Hi,

We updated from V4.4.2 to V4.4.4 and now the constructor injecting .With(...) is no longer working.

Code:
`IList<ISlice> slice;`
`...`
`this.container.With(slice).GetInstance<ISliceViewModel>()`

ctor of `ISliceViewModel`:
`        public SliceViewModel(IList<ISlice> slice)
        { ...
`

The content of the slice variable is not passed in, but a new instance is created instead.

[2017-04-12 08:32] AnotherICe opened #563 "T Container.GetInstance(ExplicitArguments args) fails with exception"
T Container.GetInstance<T>(ExplicitArguments args) fails with exception

upon following circumstances:
1. container configuration with PluginType registered by .For(Type).Use(Type)
2. GetInstance called with ExplicitArguments

Problem diagnostics:
1. .For(Type).Use(Type) creates a ConfiguredInstance
2.  T GetInstance<T>(ExplicitArguments args) calls Override (in BuildInstanceWithArgs method) metho

[2017-04-13 12:14] DixonDs opened #564 "Dynamic interception issue when calling InvokeNextAsync in continuation"
There is a major issue with the current implementation of dynamic interception. If you happen to call `InvokeNextAsync` in an async interceptor after `await`, it may not work as expected due to specifics of underlying Castle.Core implementation  - the way `currentInterceptorIndex` is updated in `Proceed` method (https://github.com/castleproject/Core/blob/v4.0.0/src/Castle.Core/DynamicProxy/Abstrac

[2017-04-13 21:20] #564 closed

[2017-04-14 07:55] suddenelfilio opened #565 "I must be doing something wrong..."
Okay I have

an interface IDomainEvents
[code]
an interface IDomainEventHandler

[code]
an event class
[code]

and my program

[code]

If i run this I would expect:

True
True

except I'm getting

True
False

so the closed type is not picked up here? Did I misunderstand this functionality?

[2017-04-14 08:13] suddenelfilio commented on #565
Okay I've update the sample to include the test in the bugs https://github.com/structuremap/structuremap/blob/master/src/StructureMap.Testing/Bugs/ConnectImplementationsToTypesClosing_is_wonky_in_Registry_added_by_Configure.cs for issue #525

And it behaves the same

[code]

![image](https://cloud.githubusercontent.com/assets/6460448/25037711/f31d3772-20fa-11e7-8bb0-7e4dea942209.png)

[2017-04-14 12:50] jeremydmiller commented on #565
Okay, so a couple things:

* Can you attach a failing unit test instead of the console app? That's just too hard to parse and the first thing I'd do anyway is to switch to a test
* Can you write out the WhatDoIHave() output for the container and see if that tells you anything first?

[2017-04-14 12:57] jeremydmiller commented on #556
No recent activity, so I'm cleaning this one off.

[2017-04-14 12:57] #556 closed

[2017-04-14 13:26] suddenelfilio commented on #565
Okay so this gets stranger by the minute

I wrote up a test

[code]
and this fails
![image](https://cloud.githubusercontent.com/assets/6460448/25044319/59ef6634-2126-11e7-9d60-4567600c5fb5.png)

now if I move the respective interface and classes into the test file it passes

[code]
![image](https://cloud.githubusercontent.com/assets/6460448/25044366/9a381ab0-2126-11e7-875e-aad5e02b5027.png)

[2017-04-14 13:28] suddenelfilio commented on #565
OMG!!! I found my culprit. The interface and classes where in the Program class making them Program.IAmOpenGeneric<T> instead of IAmOpenGeneric. If I move them out of the Program class it all works fine...

So the answer is yes I was missing something.

[2017-04-17 13:51] jeremydmiller commented on #565
@suddenelfilio Cool, mind if I close this one?

[2017-04-18 08:22] suddenelfilio commented on #565
well actually I am surprised it can resolve to Program.IAmOpenGeneric, but not the closed implementation Program.SpecificClosedGeneric type. Should this  not work as expected regardsless of nesting in classes?

[2017-04-18 12:55] jeremydmiller commented on #562
Taking a look at this now...

[2017-04-18 13:48] jeremydmiller commented on #563
Looking at it now. I've got 3-4 bugs going w/ StructureMap right now all related to the With() functionality and recent changes.

[2017-04-18 14:00] jeremydmiller commented on #563
The fix for this one will be in StructureMap 4.4.5 later today

[2017-04-18 14:00] jeremydmiller commented on #562
The fix for this one will be in StructureMap 4.4.5 later today

[2017-04-18 14:05] jeremydmiller commented on #565
Being or not being an inner class has no impact other than if you're running this from SM's codebase itself, it keeps you from colliding on type names from other tests

[2017-04-18 14:06] #565 closed

[2017-04-18 14:09] #562 closed

[2017-04-18 14:09] #563 closed

[2017-04-27 11:22] HamedFathi opened #567 "[Question] custom lifecycle based on an Event Is it possible ?"
I have LoadEngine for loading assemblies and types.

When an assembly changed (eg replaced by new one), It calls OnChange() event

I want to know how to write custom lifecycle based on OnChange() means when somethings changed I recreate object or replace object in container with new instance ?

for example in another IOC (LightInject) I can do like this

[code]

Is this possible in structuremap to

[2017-04-27 18:34] jeremydmiller commented on #567
Would you want to deal with that with a lifecycle, or by just ejecting existing values? You can always use the `IContainer.Model` object to do that: http://structuremap.github.io/diagnostics/using-the-container-model/

[2017-04-27 18:35] jeremydmiller commented on #567
This for building your own lifecycle: http://structuremap.github.io/object-lifecycle/custom-lifecycles/

[2017-04-27 20:32] HamedFathi commented on #567
@jeremydmiller ,

Actually you right I needed to eject existing value so I tested your guide and it works perfectly

Thanks

[2017-04-27 20:32] #567 closed

[2017-05-11 22:11] rswetnam opened #569 "GetAllInstances Domain Events"
Hi:

I am not sure if this sort of post is allowed here - so apologies in advance if it isn't.  I have some older code that was adapted from Udi Duhan's approach for tracking domain events that uses an earlier version of StructureMap that I am unable to figure out how to update.  Specifically the code is in bold below.  I'd appreciate any assistance in fixing it and if possible explaining the rati

[2017-05-12 12:21] no1melman opened #570 "Get Requesting Type and Requested Type"
I have two scenarios.

First, I have `IOptionsManager` which has a method `IOptions<T> GetOptions<T>()`. In a constructor I wish to do `IOptions<MyCustomOptions> customOptions`. Is it possible to in the container configuration to do something like:

[code]

Where `RequestedType` would be `IOptions<MyCustomOptions>`

Second, I have an `ApplicationLoggerFactory` that has `Create(string domain)` wher

[2017-05-12 12:34] StingyJack opened #571 "The Gentile Quickstart may benefit from one more step or wording update.."
The steps seem to include..

Given this object model
 - this is how to register an implementation to an instance
 - this is how to resolve an a specific implementation when you have the container present in scope

...but not how to **get** instances from the container in other points in the application. This may be considered OT, but as a noob I would probably scratch my head and go look somewhere

[2017-05-12 12:58] no1melman commented on #570
The answer to the second question is

``` ctx.ParentType.Name; ```

[2017-05-12 13:02] no1melman commented on #570
For the first question, I've done this:

[code]

But it doesn't feel right...

[2017-05-12 13:32] DixonDs commented on #571
@StingyJack  Do you mean to extend "Integrating StructureMap within your application" section with some code examples? The problem is that it is very specific to the application type you work with, so it might be hard to get some generic and still useful for most people example there.

[2017-05-12 15:38] jeremydmiller commented on #571
@StingyJack I've got to say ditto to what @DixonDs said. That's very specific to whatever application framework you're using. I wouldn't consider it "quickstart" material, but a link to the section on [auto wiring](http://structuremap.github.io/the-container/auto-wiring/) might be helpful.

If you're just wanting to use service location within your application - which we don't recommend in most us

[2017-05-12 22:36] StingyJack commented on #571
A bit more "distance" in the existing example between registration and point of use than a single method (or class) scope would be closer to what I'm thinking.

[2017-05-14 22:11] jeremydmiller commented on #570
@no1melman "But it doesn't feel right..." -- there's a much easier way to handle this kind of scenario. See this topic http://structuremap.github.io/registration/on-missing-family-policies/, but scroll down until you see the example on `SettingInstance<T>` that was taken from our FubuMVC version of IOptions.

[2017-05-15 08:48] no1melman commented on #570
Perfect - thought this shouldn't be too difficult!

[2017-05-15 08:48] #570 closed

[2017-05-15 22:55] DixonDs opened #573 "NullReferenceException in LightweightCache"
This happened during heavy multi-threading testing:
[code]

[2017-05-16 11:50] StingyJack commented on #571
You mean the .net framework?

I'm a noob (to DI/IoC "frameworks") and don't know what I want, or why service location is "evil" (especially compared with some of the abominations I see periodically).

So you can "auto wire", and that page talks about using the specific dependencies in the ctor instead of passing the container around and talks about a build plan, but it doesnt actually show how one

[2017-05-16 17:45] jeremydmiller commented on #571
@StingyJack Nah, I'm saying it's very different from ASP.Net MVC to Web API to any of the service bus frameworks.

[2017-05-16 17:46] jeremydmiller commented on #571
I'm just not seeing anything concrete here.

[2017-05-16 17:46] #571 closed

[2017-05-16 18:36] StingyJack commented on #571
Me neither, but I do appreciate the pun/irony.

[2017-05-20 18:23] nukec opened #575 "Assembly scanning in other project in solution is not registering instances"
I am doing api in asp.net core.
I am trying to scan other assembly in solution and automatically register instances.
It doesn't register. My implementation:

[code]

Registration in Startup.cs:
[code]

Why is it not registering?

[2017-05-21 15:53] jeremydmiller commented on #575
@nukec You aren't actually using the StructureMap container except to load it and validate it. I'd advise you to test this outside of the ASP.Net Core setup and just build up your container with that registry with whatever your expectations are. I don't see anything that jumps out at me as wrong, but you didn't really give much information about what's not working or what you're types look like.

[2017-05-26 23:37] juandrn opened #576 "Best way for real app to do per request life time in net core app"
I dont know how to do it I know I need to do a nested container, but in real app you define all in constructor

My question is How do you pass the nested instance for already existing constructor, I'm thinking to get the instance and pass it throught method but I think It is a ugly way

Code only for example:

[code]

[2017-05-29 16:55] jeremydmiller commented on #576
If you take a constructor argument of `IContainer`, you'll get the container that created the object. If it was created by a nested container within an ASP.Net Core request, you'd get that container.

In your code above, it'd be easier to just inject in the `IData`, or do it lazily with `Lazy<IData>`. In general, try not to inject the container itself into your controllers.

[2017-05-29 18:30] juandrn commented on #576
Sorry, I don't understand very well, could you show me a sample code please? I'll appreciate it

[2017-05-29 20:18] jeremydmiller commented on #576
Try this, with comments:

[code]

If `IData`, `BusinessImplementation`, and `WebApiController` are all built by the per request nested container, there would only be on `IData` object created and you can just inject that dependency.

[2017-05-29 20:34] juandrn commented on #576
Ok I understand your view point now, but when I'll do the dispose of IData instance when finish web api method, because in the above example never is called the Dispose method.

Because I need that the instance keep a live only for the Web Api call, but I'm thinking that I need to pass the instance for the method.

I don't know if I explain well,

[2017-05-29 21:33] juandrn commented on #576
Or in other question How I do the Scoped life time of default dependency injection of Net Core in StructureMap.
Ref
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/dependency-injection

Because in the structure map article It let me confused because I need to make a nested container to make a per request life time.
- First define a Transient life time of structure map and then making a N

[2017-05-30 01:45] jeremydmiller commented on #576
@juandrn, If you're using Web API, it's building a nested container per request. StructureMap's **default** lifecycle is essentially the same behavior you'd get from the container-scoped lifecycle concept in ASP.Net Core. There's literally nothing else you need to do. As for `Dispose()`, the nested container tracks every object it creates that implements `IDisposable` and disposes it when the nest

[2017-05-30 22:20] juandrn commented on #576
Ok, you're right, I've edited the Microsoft sample code and checked what you said, thank you.

All edited code is just in the startup class in ConfigureService Method:
[Sample Code] https://yadi.sk/d/buLhVWcD3JgF5b

[2017-06-09 14:26] jeremydmiller opened #577 "Use FastExpressionCompiler internally"
This has to be the single easiest thing we could do to improve perf.

cc // @DixonDs

[2017-06-09 14:34] DixonDs commented on #577
I've seen it before. But do we want to introduce extra package dependency?

[2017-06-09 14:38] jeremydmiller commented on #577
I'm trying to just sneak in the code under the covers to avoid the dependency

[2017-06-09 14:59] #577 closed

[2017-06-09 16:10] DixonDs commented on #573
I cannot reproduce it after https://github.com/structuremap/structuremap/pull/574

[2017-06-09 16:10] #573 closed

[2017-06-16 18:59] eeisenbr opened #578 "Nullable types as constructor arguments cause issues"
If you have a concrete class that takes nullable types as constructor arguments, and pass them all in using ExplicitArguments, it doesn't work because the types of the arguments are not nullable, and StructureMap doesn't consider nullable types to be "simple", so it tries to inject the arguments and fails.  Here's the fix I came up with:
https://github.com/eeisenbr/structuremap/commit/23f709bfe19a

[2017-06-19 17:07] jeremydmiller commented on #578
@eeisenbr Hey Ned, next time -- if there is one -- let me know you're from TAS/WTW and I'll respond a whole lot faster;) The fix is fine if all the tests pass, but I'd ask that you extract the logic to its own method.

[2017-06-20 00:27] eeisenbr commented on #578
No worries, there's no immediate urgency on this one.  Thanks though.

Two questions:

1. Would you prefer I put the new method in DependencyCollection or in TypeExtensions?  I'm leaning toward just keeping it in DependencyCollection but I can see arguments either way.
2. When I run all of the tests in VS 2017, it just locks up after running 68 of them.  What method do you use?

[2017-06-21 16:59] jeremydmiller commented on #578
@eeisenbr In DependencyCollection is fine. I use either the rake script that just delegates to dotnet test or the Resharper runner. Used to use TestDriven.Net, but that doesn't work w/ VS2017 very well yet.

[2017-06-23 08:46] DixonDs opened #580 "Add StructureMap.DynamicInterception.IArgument.InstanceParameterInfo"
Similary to `StructureMap.DynamicInterception.IMethodInvocation.InstanceMethodInfo` which gives access to the target method instance, it could be useful to have the target method parameter info in `IArgument` - for the case, when you want to check for some attributes

[2017-06-23 12:25] DixonDs opened #581 "Dynamic interceptor throws TargetInvocationException instead of the original exception type"
Still the original exception is included as the inner exception.

[2017-06-23 13:11] #581 closed

[2017-06-23 13:40] #580 closed

[2017-06-26 17:28] NinoFloris opened #582 "Structuremap somehow picking generated static constructor (due to static lambda)"
Structuremap somehow picks the static constructor of a class it is constructing which results in
[code]

This is at the `new` expression node inside ConstructorStep

Removing the static keyword from our lambda property circumvents the problem as the compiler won't generate a static constructor anymore then.

The lambda can be anything and the issue also shows with something silly like
[code]

I'm

[2017-06-26 18:02] DixonDs commented on #582
Yes, a repro would be great. But can you at least paste the full stacktrace of the exception you get?

[2017-06-26 18:14] NinoFloris commented on #582
Here it is, thanks for the quick reply.

[code]

[2017-06-26 18:46] NinoFloris commented on #582
Adding some debug symbols gave me this result inside of ConstructorStep
![screen shot 2017-06-26 at 17 13 20](https://user-images.githubusercontent.com/4218809/27554839-1abc8cbc-5ab0-11e7-8499-61ce944f370c.png)

![screen shot 2017-06-26 at 17 13 53](https://user-images.githubusercontent.com/4218809/27554804-fc9122c0-5aaf-11e7-9307-ff61613eaac7.png)

How does a "constructor" that is not even marked

[2017-06-26 19:53] jeremydmiller commented on #582
@NinoFloris I don't have a clue. I'm afraid I'd have to see repro steps to help on this one.

[2017-06-27 20:18] eeisenbr commented on #578
@jeremydmiller Thanks for the info.  I thought rake was just for compiling the documentation.  I've done the refactoring https://github.com/eeisenbr/structuremap/commit/046e635524b39de1636bd18f5f36921947fe64fc
Let me know if this looks okay to you.

[2017-06-27 20:45] NinoFloris commented on #582
F yes, took another stab at this by slowly shutting more and more of our codebase's container inits/ registry loads etc down until I finally got an exact point which stopped the exception from appearing.

Then after some more pruning for a repro I have a solid root cause:
https://github.com/structuremap/StructureMap.Microsoft.DependencyInjection/blob/1ad66e5c5a623fc54f84c1243051c8c9e80c396c/src/St

[2017-06-27 20:45] #582 closed

[2017-06-28 13:04] jeremydmiller commented on #578
@eeisenbr Looks good to me. Ship it!

[2017-06-28 16:01] #578 closed

[2017-06-28 21:49] MrGlenThomas opened #584 "StructureMap.Pipeline.Instance InstanceKey(Type pluginType) throws NullReferenceException when passed generic type"
I am using StructureMap.Microsoft.DependencyInjection in ASP.NET Core Web API and when I call app.ApplicationServices.GetServices(Type serviceType) with a generic type a NullReferenceException is thrown. It works ok with non-generic types.

Stack trace:
[code]

Example:

`app.ApplicationServices.GetServices(typeof(ICommandHandler<>))`

[2017-06-29 00:55] jeremydmiller commented on #584
@MrGlenThomas StructureMap can't resolve open generic types, that's just not a valid use case.

[2017-07-03 09:46] AnotherICe opened #586 "Support IReadOnlyCollection<T> for injection"
C# 4.0  introduced some new collection types, for example IReadOnlyCollection<T>, IReadOnlyList.
Usage of this types is preffered for respective immutable types. Ususally immutable types (services, decorators, etc) use consturctor injection, but structuremap cannot resolve this types using [this mechanism](http://structuremap.github.io/the-container/working-with-enumerable-types/).
Can you add sup

[2017-07-03 11:06] DixonDs commented on #586
@AnotherICe Won't it work if you just register `ReadOnlyCollection` for `IReadOnlyCollection`/ `IReadOnlyList` since `ReadOnlyCollection` ctor accepts `IList<>` which is already registered? Something as follows
[code]

[2017-07-06 13:33] hognevevle opened #587 "Missing HttpContext lifecycle samples in documentation"
Hi,

On http://structuremap.github.io/object-lifecycle/supported-lifecycles/#sec5 , there are two samples missing at the bottom.

Is there anywhere those can be seen?

[2017-07-06 14:25] jeremydmiller commented on #587
They *should* still be in the 3.1 branch, but I couldn't find the samples. For clean up, it's this: https://github.com/structuremap/structuremap/blob/3.1/src/StructureMap.Web/Pipeline/HttpContextLifecycle.cs#L47-L50. With the StructureMap.Web assembly, you should see some extension methods to apply the old ASP.Net lifecycles.

First though, why do you still need this? Should be unnecessary in most

[2017-07-09 16:40] tjrobinson opened #588 "Problems resolving dependencies (for MediatR handlers) in Azure Web App environments"
_This is cross-posted as https://github.com/jbogard/MediatR/issues/184 because I'm not sure whether it's a MediatR or a structuremap issue (or more likely just me doing something wrong)._

I've got a strange issue which I can only reproduce when I deploy my site as an Azure Web App.

- MediatR 3.0.0
- ASP.NET Core 1.1.2 w/ .NET 4.6.2
- Azure Web App
- AutoMapper.Extensions.Microsoft.DependencyInje

[2017-07-10 08:38] tjrobinson commented on #588
I think I've sorted this now. A dependency deep down in the dependency tree can't be resolved, causing the handler to not be able to be resolved. What was throwing me was the wording of the error from MediatR making me focus on something specific to the handler rather than its dependencies.

[2017-07-10 08:38] #588 closed

[2017-07-10 15:33] CornedBee opened #589 "Race condition and leak when constructing singletons"
In our application we have a service that *must not* be constructed more than once. It connects to a message queue, sends messages there, and waits for replies. If there are two of this service, they will eat each other's messages. (I realize this could be more robust.)

This service is configured as a singleton. Unfortunately this doesn't guarantee that the service is only instantiated once - if

[2017-07-11 09:33] CornedBee commented on #589
Looking at the code, I think this could be accomplished by changing the dictionary in Pipeline.LifecycleObjectCache to be a `ConcurrentDictionary<int, Lazy<object>>`, so that the dictionary entry can be added immediately, before constructing the entire object. `Lazy` would then take care of thread synchronization during the construction. See this SO question: https://stackoverflow.com/questions/12

[2017-07-11 17:56] wdupree opened #590 "StructureMap 4.5.x NuGet package installation fails"
Upgrading from 4.4.5 to 4.5.0 or 4.5.1 results in an error and rolls back the changes giving the following message in the Output window:

  GET https://api.nuget.org/v3/registration2-gz/structuremap/index.json
  OK https://api.nuget.org/v3/registration2-gz/structuremap/index.json 275ms
Restoring packages for 'BCBSLA-Proto'.
Restoring packages for C:\Local Work Files\PersonalTFS\BCBSLA-Proto\projec

[2017-07-13 12:27] #587 closed

[2017-07-13 14:16] ChenMachluf opened #592 "Registered Generic Type is not resolved when defined in Child Container"
Hey,

We are trying to implement a dependency registration of a generic type, with constraint using StructureMap.
When we are registering a Generic type inside a child container it cannot be resolved by either "GetInstance" or "GetAllInstances".

The following unit test shows the problem
[code]
The type could not be resolved when is defined under the child container.

Thank you.

[2017-07-13 15:36] jeremydmiller commented on #592
@ChenMachluf It's a limitation of the child containers. That use case or registering open generics to a child container just isn't supported.

[2017-07-13 15:42] jeremydmiller commented on #590
@wdupree Man, I'm sorry, but I think the answer right now is to stay back on 4.4.5. That dependency was introduced for the 1st time in 4.5 (it's a big perf optimization win). There's very little change from 4.4.5 to 4.5 otherwise. Just some oddball use cases

[2017-07-13 16:20] wdupree commented on #590
ok - thanks @jeremydmiller. Do you know if it's a limitation of being on Visual Studio 2015? I know that there's a limitation of updating the .NETCore UWP nuget package to 5.3.x because it's dependent on Visual Studio 2017 (which required Windows 10 to develop UWP apps where '15 doesn't).

[2017-07-13 16:50] dadhi commented on #590
@jeremydmiller, is it a FEC dependency?

[2017-07-13 18:23] jeremydmiller commented on #590
@dadhi Yes. I did cheat a little bit and just grabbed the one class and made it internal to SM.

[2017-07-13 18:28] dadhi commented on #590
I am excluding Fec from DryIoc for UWP and some old PCLs.

[2017-07-13 18:30] jeremydmiller commented on #590
Ah, gotcha. That's what I get for trying to do that. @wdupree I'll make a 4.5.2 soon that just takes FEC as a dependency so I can rely on his Nuget dependency work;)

[2017-07-13 19:29] dadhi commented on #590
Btw, I am cheating too, including the Fec file for supported platforms and excluding for not supported.

To handle its abcense I am inserting a partial method at the top of `ExpressionCompiler` class:

    public static partial class ExpressionCompiler
    {
        // ReSharper disable once RedundantAssignment
        static partial void TryCompile<TDelegate>(ref TDelegate compileDelegate,

[2017-07-13 20:10] wdupree commented on #590
Cool - thanks for the info!

[2017-07-13 20:10] #590 closed

[2017-07-14 09:37] DixonDs opened #593 "NullReferenceException on GetProfile"
[code]
I don't have a repro yet - we restarted the services where it was happenning and it seemed to help.

[2017-07-19 11:18] NinoFloris opened #594 "Custom constructor policy (SM.MS.DI AspNetConstructorSelector) ignored by child container"
After solid testing why I was getting errors setting up Mvc on a child container (no comment ;) ) I'm quite sure I have found a bug in the constructor policy code for child containers.

A child container doesn't check their parent's constructor policies and doesn't seem to check any  policies registered on themselves either.

Repro here: https://github.com/NinoFloris/repro-child-container-ctorpoli

[2017-07-19 11:31] jeremydmiller commented on #594
I guess I would call that a bug, but why in the world **would** you need to do that? My strong recommendation over the years is to not use "optional" dependencies with the container.

[2017-07-19 11:34] NinoFloris commented on #594
Sadly this is Microsofts decision, all containers sadly have to conform.
The problem again is not in what policy is used but that it's not consulted

On Wed, Jul 19, 2017, 13:31 Jeremy D. Miller <notifications@github.com>
wrote:

[2017-07-19 14:59] NinoFloris commented on #593
Could be because Profiles is only created for a root PluginGraph and not guarded for null on child containers

https://github.com/structuremap/structuremap/blob/6c383cabc1cace084139030b8a253f4fd9a4ad2e/src/StructureMap/Graph/PluginGraph.cs#L74

[2017-07-19 15:07] NinoFloris commented on #594
Any pointers where to look?

[2017-07-24 09:21] DixonDs commented on #593
@NinoFloris Could you elaborate? I am not sure I follow.

[2017-07-24 09:47] DixonDs commented on #593
Another related, I believe, error, that we've seen in logs:
[code]

This one looks like a concurrency issue to me judging from the `LightweightCache.GetAll` implementation.

[2017-07-24 11:45] DixonDs commented on #593
So, yes, now I am certain it is a plain old concurrency issue. The following test fails pretty reliably:
[code]

[2017-07-24 16:54] jeremydmiller commented on #594
PipelineGraph/InstanceGraph. It already should have been using the global policies, but your problem is that the constructor selection policy would only be considering the immediate container. Guess you'd need to change that logic, or possibly the constructor selection.

I hate the ASP.Net team with a passion. This kind of issue is why I've been trying to get out of StructureMap support altogether

[2017-07-24 16:56] #592 closed

[2017-07-24 16:57] jeremydmiller commented on #575
No recent activity, so I'm closing this

[2017-07-24 16:57] #575 closed

[2017-07-24 16:57] #576 closed

[2017-07-24 16:57] #584 closed

[2017-07-25 12:02] thomaslevesque opened #596 "SetAllProperties policy ignored when set on child container"
Consider these tests:

[code]

`PolicyOnRootContainer` passes, but `PolicyOnChildContainer` fails:

Why is the policy ignored when set on the child container?

It seems to work as expected with other policies (e.g. `OnMissingFamily`).

Might be related to #594

[2017-07-25 12:31] jeremydmiller commented on #596
@thomaslevesque That use case isn't supported. Policies are only applied to the parent container. My question is "why would you ever want to do that?" I'd certainly discourage that kind of usage in my own shop.

[2017-07-25 13:22] thomaslevesque commented on #596
Ah, I see. It would be nice to make it explicit somehow (maybe throw an exception, as is currently done for nested containers).

I'm trying to inject dependencies into a test fixture from the setup method. Since the object is already created, I can only inject them via properties. But I want this policy to apply only when injecting into the test fixture, not for everything. I thought a child conta

[2017-08-09 11:15] #593 closed

[2017-08-10 02:35] arishlabroo opened #598 "Upgrade Castle.Core"
https://github.com/structuremap/structuremap/blob/14e348f513de4a2764309159cd406561a56de13c/src/StructureMap.AutoFactory/StructureMap.AutoFactory.csproj#L37

`Castle.Core` `4.0.0` has a known issue
https://github.com/castleproject/Core/issues/239

this leads to an irritating warning on build
`warning NU1603: Castle.Core 4.0.0 depends on System.ComponentModel.TypeConverter (>= 4.0.1) but System.Comp

[2017-08-10 02:40] arishlabroo commented on #598
though this would be a quick fix and I can send a pull request, but

```/myCode/structuremap/src/StructureMap.AutoFactory/StructureMap.AutoFactory.csproj : error NU1605: Detected package downgrade: NETStandard.Library from 1.6.1 to 1.6.0. Reference the package directly from the project to select a different version.```

```/myCode/structuremap/src/StructureMap.AutoFactory/StructureMap.AutoFactory.

[2017-08-10 09:38] DixonDs commented on #598
what happens if you update the Castle.Core dependency just in your project to the desired version?

[2017-08-10 17:26] arishlabroo commented on #598
thats what I did for now, still thought I would leave the issue here.

[2017-08-11 06:49] AnotherICe commented on #586
Its works fine for most cases, but it fails when we try to use EnumerateOf method for StartInstance.
Its look like it skip this registration and just try to resolve all known instances.

Sample pseudo-code
[code]

[2017-08-14 08:16] Pvlerick opened #599 "Inconsistent DecorateAllWith behavior when using factories"
I'm having trouble getting my head around the behavior of DecorateAllWith.

[code]

The two failing tests report the same exception: ```Message: System.ArgumentOutOfRangeException : Specified argument was out of the range of valid values.
Parameter name: ReturnedType System.Object cannot be cast to the Interceptor Accepts type ```

[2017-08-14 10:23] apeneve opened #600 "StructureMap.Pipeline.LifecycleObjectCache not marked as serializable"
When I switched from in memory to SQL Server for storing session data in asp.net, I get a SerializationException: `Type 'StructureMap.Pipeline.LifecycleObjectCache' in Assembly 'StructureMap, Version=3.1.9.463, Culture=neutral, PublicKeyToken=e60ad81abae3c223' is not marked as serializable.` Is it possible to get around this in some way? Can the LifecycleObjectCache be decorated with a Serializabl

[2017-08-14 10:49] jeremydmiller commented on #600
@apeneve I think you need to look through your code and see what's either referencing the StructureMap container or maybe even a Func<T> or Lazy<T> that's filled by the container, and eliminate that reference.

[2017-08-14 10:56] jeremydmiller commented on #599
Okay, so, what version, can you put the entire stack trace in please, and are you up for doing a pull request to address the validation logic if it really is some kind of SM bug?

[2017-08-14 12:56] apeneve commented on #600
Sees to be a problem in the CMS (EPiServer) I'm using.

[2017-08-14 12:56] #600 closed

[2017-08-14 13:16] Pvlerick commented on #599
Version is ```4.5.0```

Full stack trace:
[code]

As for being ready for a PR, I'm not familiar with the code base at all but why not. Initially I'd like to know if this indeed some kind of bug or if I missed something with ```DecorateAllWith``` and its usage, if it is then I'd be happy to have a look.

(I found this and initially filing it [here](https://github.com/structuremap/StructureMap.Micro

[2017-08-17 21:13] JKSnd opened #601 "Structuremap Build Exception Seemingly Related to Scale"
Edit: This issue is in regard to v4.4.3

I'm working on a desktop system that communicates with up to ~250 networked devices concurrently. We use structuremap under MediatR to decouple our view models from the networking logic.

When a small number of devices are connected (1-30 or so) everything works smoothly. Interestingly, when more devices are connected (say, 60) structuremap starts throwing

[2017-08-21 18:49] JKSnd commented on #601
@jeremydmiller, I created a Gist that has some XUnit tests in it that display this beahviour

https://gist.github.com/JKSnd/1bef8e59dd68398fda7cd984d203b368

Requires:

- MediatR 2.0.2

- StructureMap 4.4.2

- XUnit 2.2.0

[2017-08-21 19:03] jeremydmiller commented on #601
@jbogard Is there anything going on inside of MediatR that would be registering services to the container on the fly? I feel like I've seen something similar before from the MediatR + SM combo.

@JKSnd Are you 100% you don't actually have a bi-directional relationship? The stack trace that SM spits out should tell you the order of construction & dependency.

[2017-08-21 19:10] JKSnd commented on #601
@jeremydmiller  I am 100% certain, yes. The example in that gist uses classes that are highly independent and the issue still manifests. It does seem to be a bit of a heisenbug, as subsequent runs do produce different results.

Here's an example stack trace from our software's most recent release candidate:

Bi-directional dependency relationship detected!
Check the StructureMap stacktrace below:

[2017-08-21 19:14] jeremydmiller commented on #601
What is your `MultiInstanceFactory`?

[2017-08-21 19:15] jeremydmiller commented on #601
You don't have some kind of caching issue where you're accidentally reusing a nested container somehow, are you? When this exception happens, can you check the Container.Role and see what it is? That's the only explanation I can think of for the stack trace you see above.

[2017-08-21 19:18] JKSnd commented on #601
It simply defers to the container, with a little try/catch to wrap exceptions in an exception that's particular to a MediatR wrapper we use. This is mainly to enable a "bool TrySend<TResponse>(IRequest msg, out TResponse response)" method.

[code]

Container.Role -- I'll look into that right now. What should I be expecting?

[2017-08-21 19:19] jbogard commented on #601
No, MediatR only includes a couple of factory delegates, it's up to the user to configure the container.

[2017-08-21 19:23] jeremydmiller commented on #601
@JKSnd Are you reusing that MultiInstanceFactory across requests?

[2017-08-21 19:24] JKSnd commented on #601
That's correct. It is wired up one single time during startup

[2017-08-21 19:26] JKSnd commented on #601
Container.Role is reporting "Root" in my tests.

[2017-08-21 19:28] jeremydmiller commented on #601
Actually, just for fun, can you get rid of the `UniqueLifecycle` and see if that makes a difference?

[2017-08-21 19:34] JKSnd commented on #601
Ok, removed the explicit lifecycles.

- The test to resolve 30 AsyncNotificationHandler requests in parallel resulted in the same Bi-dir exception
- The tests to resolve more than 1 RequestHandler request in parallel resulted in some "An item with the same key has already been added" exceptions.

[2017-08-21 19:47] jeremydmiller commented on #601
Alright. So I think I'm asking you to either fork SM's code and give it a shot, or can you add a PR to StructureMap with your failing tests and I'll look into it locally?

Unfortunately, I'm backed up on these kinds of things, so it'd be mid to late week for me.

[2017-08-21 19:51] JKSnd commented on #601
Can do, stay tuned. Thanks for this!

[2017-08-21 20:01] JKSnd commented on #601
Oh damn. I see that this project is using the new VS2017 project format. I'm still using 2015 as this is an awkward moment in our release cycle to update our tools.

The gist I created is a complete file, however. Dropping it into your local project and pulling the NuGet packages should be smooth as pie. Is that an option?

[2017-08-21 20:53] JKSnd commented on #601
A couple observations:

- If I remove the message bus entirely and have the tests use the container to locate handlers directly, everything works fine. Either the likelihood of the issue manifesting becomes vanishingly small, or the issue is subverted.
- If I add locking around the single and multiple instance factory implementations, things behave themselves. This, however, is an obvious bottlene

[2017-08-24 09:41] Fildrance opened #602 "Function to disable auto-wiring"
I found out that if we use UseIfNone on concrete class, this class will be called not with this registration, but using auto-wiring mechanism. This makes impossible (or very complicated) following scenario.

My scenario of usage is:

[code]

Please, can you consider adding disable auto-wiring function? I suppose it have to be placed on Container constructor as optional parameter, defaulted as fals

[2017-08-24 10:37] jeremydmiller commented on #602
@Fildrance I'm sorry, but I just don't believe you on this one. Can you add a failing unit test here that demonstrates the issue that you're having?

And "auto-wiring" is pretty well the raison d'etre for having an IoC container in the first place.

"if DI Container have no registration for requested object, it have to tell so straight away, more like fail-fast approach" -- yes and no. In some cas

[2017-08-25 11:14] thisispaulsmith opened #603 "NetCoreApp2.0 support?"
Is NetCoreApp2.0 supported?

Reason for question is that I've noticed Registries aren't getting populated after shifting to 2.0.

Sample repo
https://github.com/thisispaulsmith/StructureMapNetCore2.0

Switching the test project to 1.1, the tests then work.

[2017-08-25 11:34] jeremydmiller commented on #603
I haven't touched netcoreapp2.0 yet. No clue why that would even matter since SM is just a library that already targets netstandard. From your code, it's easily possible that SM's logic for walking up the call stack to find the calling assembly broke in 2.0. That changed quite a bit earlier. Try explicitly specifying the assembly in your Scan() method.

[2017-08-25 11:54] thisispaulsmith commented on #603
Yes it would appear explicitly defining the assembly works

[2017-08-27 11:55] DerAlbertCom opened #604 "Projection from Type to string does not work es expected"
I don't know if this is supposed to work, in my view it should.

I make a mapping ` c.CreateMap<BarEntity, string>().ConstructProjectionUsing(b => b.Type);` this works on a concrete instance, but is throws an exception on a projection . I'm using **AutoMapper 6.1.1** (on .NET CoreApp, it does not matter 1.1 or 2.0)

[code]

Here is a reproduction sample.

[code]
the real code is using EntityFramew

[2017-08-27 12:04] DerAlbertCom commented on #604
How stupid am i?

[2017-08-27 12:04] #604 closed

[2017-08-28 19:20] jeremydmiller commented on #604
@DerAlbertCom Dude, you're not the first person to do that -- and this exact combination;)

[2017-08-30 22:55] silkfire commented on #603
Having the same issue. `TheCallingAssembly()` method in netcoreapp2.0 mysteriously returns the StructureMap assembly instead of my MVC project assembly.

And for some reason it says assembly version 4.5.0.0 instead of 4.5.2.0 (latest version of SM).

http://imgur.com/a/RgtEg

[2017-08-31 00:37] jeremydmiller commented on #603
Guys, it's gonna be like this. There's an easy workaround, or I'll happily wait for a PR from somebody on this one.

[2017-08-31 16:07] silkfire commented on #603
I checked the code [here](https://github.com/structuremap/structuremap/blob/master/src/StructureMap/Graph/AssemblyScanner.cs#L326) and right now the way `TheCallingAssembly()` determines the calling assembly based on the stack trace seems a bit arbitrary. You seem to assume that the calling assembly will always end up on the fifth row, but this case is no longer true in netcoreapp2.0.

Perhaps ano

[2017-09-05 02:45] vishnu4 opened #605 "structuremap named instance issue with OWIN"
Hi there.  This is basically the same thing as https://github.com/structuremap/structuremap/issues/429, but it's a very old closed issue that you weren't able to replicate so i thought i would make a new issue instead.  I was finally able to replicate in fairly basic code, please take a look at my application at https://github.com/vishnu4/StructureMapMVC5/ .
if you go to dependencyresolution\defau

[2017-09-08 05:44] terrytsay opened #607 "Inconsistent TryGetInstance behavior"
the behavior for TryGetInstance inside a lambda resolved build session is different than container.TryGetInstance. The one inside lambda will throw an exception as it is trying to create a build plan to actually resolve it instead of returning null since it doesnt have a registration.

new ConcreteThing(Int32 dependency)
  ┗ Int32 dependency = Required primitive dependency is not explicitly define

[2017-09-09 14:06] frankbenoit commented on #598
Is updating in the project locally the way to go?
How do I do it the best way?

[2017-09-09 14:23] frankbenoit opened #609 "Documentation of Autofactory is missing 2 samples"
See http://structuremap.github.io/autofactory/

In the first paragraph, there are 2 of the 4 samples missing

Now you declare an interface for your factory:

Missing code sample 'ISimpleDummyFactory' -- Wait for dotnet stdocs to catch up reading samples or CTRL+SHIFT+R to force refresh

All you need to do is to call CreateFactory when configuring the container as shown below:

Missing code sample

[2017-09-11 18:42] JKSnd commented on #601
@jeremydmiller after more field testing, I've now seen some "Collection modified after the enumerator was instantiated" exceptions coming from BuildSession.Pop(), and some "Index was outside the bounds of the array" exceptions from BuildSession.Push().

I've noticed that the underlying stack in BuildSession doesn't have any thread-safety measures in place. I think that is the likely cause of the p

[2017-09-11 18:51] jeremydmiller commented on #601
That code shouldn't *have* to be thread safe. A BuildSession is only used for either a single call of any kind to `IContainer.GetInstance()`. I guess you could add some locking around the list or stack (don't remember which one it is). I'd be much more interested in trying to understand how in the world you're possibly getting multiple threads at that. Doing anything funky with construction by lam

[2017-09-11 19:06] JKSnd commented on #601
The nature of the domain we're working in over here is highly concurrent. When this issue is observed, a fair number of threads are all making calls on the MediatR message bus, which does a GetInstance() each time.

Maybe it would help if I understood why having multiple threads in there is a surprise.

[2017-09-11 19:15] jeremydmiller commented on #601
I can't think of any simple reason why you *would* ever have multiple threads ever hitting the same BuildSession because they are not reused between requests to Container.GetInstance(). Is there any place where MediatR or your code is doing some kind of parallel construction within a lambda that uses the `IContext`? Something like:

[code]

Failing that, I'd wonder if MediatR itself is doing somet

[2017-09-11 19:21] JKSnd commented on #601
Oh I see what you mean now, on each call to GetInstance a build session is new'd up with the current graph. I gotcha.

I'll review the registries for such lambdas.

[2017-09-11 19:44] JKSnd commented on #601
Hmm. This seems to have become one hell of a puzzle. There isn't any parallel funny-business going down in any of the construction lambdas (of which there are very few).

It looks like StructureMap does a good job of not spilling its guts, so I'm not sure how MediatR would get its hands on that stack to cache it.

[2017-09-12 01:53] jeremydmiller commented on #601
One last thing to look for that I should have gone for right off the bat. Is there any place where it might be injecting a Func<T> or a Lazy<T> that gets kept around outside of the lifetime of the request? Thinking the Func<T> could actually be an issue, and kinda remember someone else having similar issues with that

[2017-09-12 15:57] JKSnd commented on #601
Oooooooooo ok you might be onto something. Especially since you mentioned seeing something similar before with MediatR + SM.

We use a singleton instance of a MediatR.Mediator object as our message bus. This is where the MultiInstanceFactory (from above) is used, and it is simply a delegate. The Mediator gets this delegate from SM and holds onto it forever, using it for each request.

Could this b

[2017-09-12 16:37] jeremydmiller commented on #601
Maybe. What's your StructureMap adapter to Mediatr look like?

[2017-09-12 16:57] JKSnd commented on #601
Here's the registry we're using to wire that all up.

    public class MessageBusRegistry : Registry{
        public MessageBusRegistry()
        {
          this.Scan(s =>
          {
            s.AssembliesAndExecutablesFromApplicationBaseDirectory(a => a.FullName.ToUpper().Contains("PK"));
            s.TheCallingAssembly();

            s.ConnectImplementationsToTypesClosing(typeof(IRequestHa

[2017-09-12 17:04] jeremydmiller commented on #601
Ugh, yeah, that's your culprit if you use Single/Multiple factory outside of the context of creating an object through SM. Like if you cache those objects somewhere and reuse them outside of its original context.

[2017-09-12 17:09] JKSnd commented on #601
Ok! Very interesting, as we're essentially following the [MediatR sample recommendation](https://github.com/jbogard/MediatR/blob/master/samples/MediatR.Examples.StructureMap/Program.cs).

Do you have any recommendations on how to properly integrate these two?

[2017-09-12 17:33] jeremydmiller commented on #601
Shoot, gimme a couple days, let me pull down the MediatR code to understand what *it's* doing and I'll get back to you. Sorry for the constant delays

[2017-09-12 17:40] JKSnd commented on #601
Thanks so much! We appreciate your time. You've inspired a couple ideas on this end that we'll try out. I'll let you know if we uncover any solutions.

[2017-09-12 19:59] JKSnd commented on #601
Just an FYI so we can avoid wasting your time if possible.
We rubbed our brains together over here and, using your insight, came up with a solution that we think is viable. We verified our fix with unit tests that we consider reasonable. I'll update soon with what we've done just to make sure you don't see any huge red flags.

[2017-09-13 16:33] JKSnd commented on #601
OK! So I've created an issue on the MediatR project:  jbogard/MediatR#194

It boils down to me suggesting [this Gist](https://gist.github.com/JKSnd/7c28077d9cfbcccc50f9cdbd762c775b) be used in the SM + MR sample. Does it seem like an acceptable solution from your perspective?

[2017-09-18 22:18] evanphillipsdsg opened #610 "Possible to avoid disposing singleton?"
Hi,

I have a singleton that I am bringing in to StructureMap that I **don't** want to be automatically disposed when I dispose of the StructureMap container. I thought I could do this by creating my own lifecycle and object cache but even if I do that my singleton is disposed by the PluginGraph because of this code: https://github.com/structuremap/structuremap/blob/6dd07b75f882764d33dd97a85103543

[2017-09-19 00:52] jeremydmiller commented on #610
@evanphillipsdsg There's nothing in SM itself for what you're needing here, but you can always get around it just by putting some kind of "disposal lock" in your code that ignores the Dispose() until you tear down your application

[2017-09-19 20:58] evanphillipsdsg commented on #610
@jeremydmiller Alright, thanks for your response. I'll go ahead and do what you suggest.

[2017-09-24 22:44] JJLost opened #611 "[Question]: Factory and Service Locator Confusion, Func<string, T> constructor limitations, Auto Factory"
I am currently having a some confusion around the best implementation of my factory.  I have created a [Gist of 3 possible options](https://gist.github.com/JJLost/98d9451afb2813080894a4b2ae5a73d2).

1.  Is widely viewed as a Service Locator which most people on the internet consider an anti pattern.
2.  Appears to be the accepted method of working around the above pattern. However not to many peop

[2017-09-25 10:30] #609 closed

[2017-09-25 21:24] jbogard commented on #601
And I don't think that gist will work as a general solution, it's using static and global state. IMediator is meant to be a transient dependency (at most, per-request), see:

https://github.com/jbogard/MediatR.Extensions.Microsoft.DependencyInjection/blob/master/src/MediatR.Extensions.Microsoft.DependencyInjection/ServiceCollectionExtensions.cs#L300

[2017-09-26 07:15] DixonDs commented on #609
@frankbenoit it should be fixed once live docs are updated next time. In the meantime, you can find those samples at https://github.com/structuremap/structuremap/blob/10d5ef59ecb9d003b619f868d4a9046e7addd4af/src/StructureMap.AutoFactory.Testing/Samples.cs

[2017-09-26 07:44] Adam-Dem opened #612 "Cannot pass runtime args via With("paramName").EqualTo(object)"
I'm not sure if I doing something wrong but I have a problem with passing args at runtime to inject into created object. My scenario: I have two objects of the same type created outside StructureMap. I want to pass them to StructureMap and create another object so I write:
`var c = container.With("arg1").EqualTo(d1).With("arg2").EqualTo(d2).GetInstance<Descriptor>();`
but it doesnt work. Construct

[2017-09-26 15:02] jbogard commented on #601
I've clarified the example in the MediatR samples. Essentially, the sample relied on the default SM behavior of transient lifecycle - which is the correct lifecycle for the mediator instance. I've made that explicit so that you don't try to elevate its lifecycle to something stickier like singleton etc. It's meant to be at most per-request, but transient is best.

[2017-09-26 15:02] jbogard commented on #601
@jeremydmiller i think you can close this one now.

[2017-09-26 16:19] JKSnd commented on #601
Thanks for your time and effort @jeremydmiller and @jbogard!

[2017-09-26 17:57] JKSnd commented on #601
Wait, @jeremydmiller I think I'm still fuzzy on some detail here since I've taken the suggestions @jbogard gave and the issues came back.

Here's whats up: Ran my concurrency tests in the style of the new sample (explicit transient and again with always unique lifecycles for the IMediator), using the same style of expressions for the factories, and saw the original errors manifest again. Moved the

[2017-09-26 18:04] jbogard commented on #601
What do your tests look like?

On Tue, Sep 26, 2017 at 12:57 PM Jules PK Sound <notifications@github.com>
wrote:

[2017-09-26 18:20] JKSnd commented on #601
Here's a little expert.

    [Trait("Category", "Unit Tests")]
    public class Concurrency_Tests
    {
        private readonly IMediator mediator;

        public Concurrency_Tests()
        {
        var container = new Container(cfg =>
                                        {
                                        cfg.AddRegistry<MessageBusRegistry>();

[2017-09-26 18:21] jbogard commented on #601
This test still uses a single mediator instance in parallel. It should not.

On Tue, Sep 26, 2017 at 1:20 PM, Jules PK Sound <notifications@github.com>
wrote:

[2017-09-26 18:28] jbogard commented on #601
This is a better test that should match your actual usage:

[code]

[2017-09-26 18:30] JKSnd commented on #601
Blegh! You're right. Silly mistake on my end. That change does work. Thanks again!

[2017-09-26 18:44] jbogard commented on #601
So NOW you can close this :)

[2017-09-26 21:12] #601 closed

[2017-10-03 18:06] idotnetdev opened #613 "Structuremap cannot find Instances from other projects"
Hi
I am using structuremap in my Work Projects.
After I updated structremap version to latest version and change my codes to latest, structremap cannot find any instances from other projects which has refrences from than.
[AutoMapperSample.zip](https://github.com/structuremap/structuremap/files/1353352/AutoMapperSample.zip)

In my case I have class (Automapper Profile) and interface (IHaveCustomMa

[2017-10-03 18:36] jeremydmiller commented on #613
Can you start with this? http://structuremap.github.io/diagnostics/type-scanning/. My guess is that it's not finding the assemblies it should be.

[2017-10-03 19:21] idotnetdev commented on #613
Thanks for reply.
I don't understand how i use type scanning in my project.
I get this report from WhatDidIScan() method:
`All Scanners
================================================================
Scanner #1
Assemblies
----------
* AutoMapperProfiles, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
* Ioc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null

Conventions
--------
* Defau

[2017-10-04 03:52] Valchris opened #614 "Structuremap InvalidOperationException when under load"
Occasionally in production we get an creating a WebAPI with the signature below. This request would succeed on retry and can't be reproduced locally. Our best guess is that heavy load (or bad luck via a race condition) is required to trigger the case. Ther error message points to a parameterless public constructor missing, but StructureMap resolves correctly for the vast majority of requests. In t

[2017-10-12 13:47] toha73 opened #616 "Expected behaviour for TryGetInstance?"
Is this an expected behaviour for `TryGetInstance`?

[code]

[2017-10-12 13:53] jeremydmiller commented on #616
Yes. You need to do that for the "build plan" to be memoized

[2017-10-12 14:14] #616 closed

[2017-10-27 20:39] rubenmonteiro opened #617 "DefaultConventionScanner can't match generic interfaces"
Hi.
I'm having some problems creating a class, the class is the following
`public class AdvancedTechnologiesManager : BaseManager<IAdvTechRepository>, IAdvancedTechnologiesManager<IAdvTechRepository>`
My registry is the following
[code]

I was expecting that when I tried to get the IAdvancedTechnologiesManager interface it would instantiate the  AdvancedTechnologiesManager class, but that didn't h

[2017-10-27 21:21] jeremydmiller commented on #617
@rubenmonteiro You might wanna check out this: http://structuremap.github.io/generics/

The default scanning wouldn't catch on your scenario up above.

*This* would have worked:

[code]

or go for the "connect all implementing" thing in the link from above.

[2017-10-28 20:25] rubenmonteiro commented on #617
@jeremydmiller Thanks for the reply, but should the default scanning catch them?

[2017-10-28 21:14] jeremydmiller commented on #617
The behavior you're reporting here is working as designed and as documented.

[2017-10-28 21:14] #617 closed

[2017-10-28 21:18] rubenmonteiro commented on #617
ok

[2017-10-31 09:39] zordark opened #618 "StructureMap cann't resolve dependencies when using child container."
Hello, I use StructureMap as replacement of standard container in asp.net core and get strange behavior when use child containers.
I manually instantiate Startup class and pass pre-configured container to it.
My Startup.cs looks like this:
[code]
And build host like this:
[code]

It's work perfectly, until I start to use child container for my Strartup class.
Following code will fail:
[code]
with

[2017-10-31 10:38] jeremydmiller commented on #618
Meh, this has come up a couple times now. The policies that do the automatic closing of open generic candidates only apply in the root container. Your use case isn't something I ever anticipated folks doing.

You could cheat this by first resolving that service in the root container before using the child container. First though, what's the point in using a child container here?

[2017-10-31 16:04] zordark commented on #618
It's some kind of webhost orchestration system.
Application manage many IWebHost instances, and I can't share the same container between it, because each host have they own configuration of services.
But I have some common configuration for all hosts.
Using child containers exactly what I need, according documentation.
At now, I use workaround: I create individual container for each host and initi

[2017-11-01 20:09] udlose commented on #589
Has there been any consideration of this bug?

[2017-11-01 21:10] jeremydmiller commented on #589
No, interested in doing the PR for it? Shouldn't be that bad to just take his suggestion up above. I'd lost track of this one.

[2017-11-10 17:29] julealgon commented on #426
What's up with such offensive reply @jeremydmiller ? I mean... even if you don't like MEF, there was no reason to insult it and to insult the OP as well, which provided a very valid question.

Anyways... I'd really appreciate if there was a clean way of registering a composite pattern in StructureMap as well. I've just hit this problem and decided to go with an explicit `IChildDoSomething` interfa

[2017-11-10 18:57] jeremydmiller commented on #426
@julealgon So yes, this comes up a time or two a year.

"Could you please reconsider this and add something to the framework to allow us to have a clean composite pattern?"

**I would happily take in a pull request for this behavior.**

[2017-11-14 10:20] nazirsj opened #619 "Structuremap loading assemblies from sub folders"
I have a service that uses application domains. A few legacy domains living in isolation and work supervised via a main process.

The main application and sub processes have different IOC containers.

With version 4.2.0.402 of structuremap I noticed that "AssembliesAndExecutablesFromPath" is loading all assemblies, even the binaries from sub process folder(s) - this is causing a bit of a nightmare

[2017-11-14 11:34] jeremydmiller commented on #619
Can you just use `AssembliesFromPath()` instead? The whole point of `AssembliesAndExecutablesFromPath` was to also scan executable files.

[2017-11-14 12:43] nazirsj commented on #619
I tried that, even in version 4.5.1 and it also loads sub folders. I made sure there were no registries in the sub-folder that did a further scan when I tested it.

I reverted to the following bit of code:
`        public static bool CheckAssemblyExistsInExecutingAssemblyLocation(Assembly assembly)
        {
            var assemblyName = System.Reflection.Assembly.GetExecutingAssembly().FullName;

[2017-11-20 10:00] QBens opened #620 "Parallel nested unique disposable resolving problem"
Hello,
I occasionally notice the "System.IndexOutOfRangeException : Index was outside the bounds of the array." errors on GetInstance calls. It looks like some problem with concurrency support. Deeper investigation showed that the problem occures on the following conditions:
- resolving from nested container
- resolving instances registered as AlwaysUniqe
- resolving of composed types implementing

[2017-11-21 03:40] arishlabroo opened #621 "nested container not disposing if parent has singleton binding"
[code]
This test fails. 😱

Helper classes are shown below.

If `IFoo` is not registered as singleton in the parent container, then this test passes.

Current behavior results in a memory leak in our application, since no NestedFoo's are ever disposed. Each child container gets a new NestedFoo as expected, but structuremap holds on to all the previously created NestedFoo's in the lifecycle cache.

[2017-11-26 14:38] jeremydmiller commented on #621
@arishlabroo,

First off, don't do this:

[code]

Just do `nested.Inject(new NestedFoo());`

At a *guess*, try to force the lifecycle of the registration to your nested container to Transient. Or inject the object directly without going through the lambda. I think that what's happening is that SM is trying to call that registration a singleton because the family has a default lifecycle of singleto

[2017-11-26 14:43] jeremydmiller commented on #620
@QBens Not saying there's not a real problem in the code that tracks disposables, but that's really not an idiomatic usage of a nested container. A nested container should be scoped to a short lived transaction like an HTTP request, and it wasn't meant for being hammered by parallel threads for any length of time like that

[2017-11-26 14:43] #619 closed

[2017-11-26 14:44] #618 closed

[2017-11-26 14:45] jeremydmiller commented on #614
@Valchris Don't know what to tell you here, that's just nowhere enough information to really help out here. Are you doing anything funny with dynamic registrations at runtime? Anything that would be modifying the container registrations after initializing the application?

[2017-11-26 14:47] jeremydmiller commented on #613
@idotnetdev I'm sorry, but I really just don't have the bandwidth to run the project for you.

[2017-11-26 14:47] #613 closed

[2017-11-26 14:48] jeremydmiller commented on #612
@Adam-Dem It's really not likely that this would ever get fixed if it is a problem. Can you just do this without using the container instead? Or use a parameter object as the single argument to the constructor instead?

[2017-11-26 14:51] jeremydmiller commented on #611
@JJLost,

I'd say not to do 2.). After that, I'd say it's just preference. Do be aware that having a direct reference to the container may make your code useless w/o the presence of the container configuration. And yes, auto factories are meant for this kind of scenario.

[2017-11-26 14:51] #610 closed

[2017-11-26 14:55] jeremydmiller commented on #607
This is an "I take pull requests". Not sure what's up w/ the DateTime, but SM would never be able to resolve a "simple" type like that on purpose.  I try to recommend that folks don't do that kind of runtime conditional logic w/ SM. I'd strongly advise you instead to eliminate the need for `TryGetInstance` in the lambda block.

[2017-11-26 14:58] jeremydmiller commented on #605
@vishnu4 Man, I'm sorry, but it's very unlikely that I'll ever get around to this one. If you want to try to tackle this, I'd be happy to answer any questions

[2017-11-26 14:59] jeremydmiller commented on #602
No activity, I'm closing this one.

[2017-11-26 14:59] #602 closed

[2017-11-26 14:59] jeremydmiller commented on #594
No activity, and I though @NinoFloris had moved to another container, so I'm closing this.

[2017-11-26 14:59] #594 closed

[2017-11-26 15:01] jeremydmiller commented on #596
No recent activity, and this just isn't going to be changed

[2017-11-26 15:01] #596 closed

[2017-11-26 15:02] jeremydmiller commented on #569
@rswetnam Ugh, I'd strongly recommend against Udi's approach up there w/ the static coupling to the container.

[2017-11-26 15:02] #569 closed

[2017-11-26 17:37] vishnu4 commented on #605
Sure thing, would be glad to take a look.  Maybe just start me off an a good place to start looking, or why you think this will be a PITA to address?  Is it because it seems OWIN specific perhaps?

[2017-11-26 18:26] jeremydmiller commented on #605
There's very little to OWIN itself, so I don't think that's it per se. Have you ruled out it just being a configuration issue? Do you have a default registration for IDbMethod? Have you checked the `WhatDoIHave()` output?

[2017-11-26 18:42] NinoFloris commented on #594
Yes for our aspnet work we use their default container and we cross wire the rest so yes it can be closed

[2017-11-26 19:31] vishnu4 commented on #605
I don't have a default instance registered.  In this case, it didn't seem to make sense, because the idea was that there are 2 databases, neither is more important/used more frequently than the other, so the idea of a 'default' didn't make sense.  If a default is required though, then i can go with that.

The 'whatdoihave' output for the git project above is:

[code]

[2017-11-26 19:34] jeremydmiller commented on #605
`CustomSignInManager` requires a singular `IDBMethod`, which SM will by default try to fill with the default registration of `IDBMethod`. That's the source of your problem.

[2017-11-26 21:31] vishnu4 commented on #605
that's why i have in my registry:
`For<SignInManager<ApplicationUser, string>>().Use<CustomSignInManager>().Ctor<Models.IDBMethod>("dbProvider").IsNamedInstance("First");`

but for some reason, that doesn't seem to work.

[2017-11-27 04:58] terrytsay commented on #607
The simple type was just used for demonstration purpose - definitely not used as my actual scenario.

In general i agree that avoiding runtime conditional logic with SM is a good practice.

In my actual scenario that I discovered this was to provide 2 different implementations depending on whether the user is authenticated or not. In the WPF app boot up sequence, a UserInfo instance is added to co

[2017-11-27 07:37] Adam-Dem commented on #612
For me it's not a problem. I've already workaround this by using "factory" class in the middle. Feel free to close that issue but i think there should be atleast some warnig somewhere. Especially, there is no problem with passing value-types this way.

[2017-11-27 16:33] QBens commented on #620
I agree that showed example is exaggerated but it is only to reproduce the problem. However you can change consts to
[code]
and the problem still reminds. With such values it is closer to real usage. As I mentioned before it occurred in our production system on high load with idiomatic usage of nested container - nested container per HTTP request. The only “mistake” is that multithreading and comp

[2017-11-27 17:23] jeremydmiller commented on #620
@QBens Correct, the nested container was never meant to be thread safe. We could try to add the extra locking or try out a concurrent bag for that collection, but I'm a bit iffy on the performance implications of that.

[2017-11-27 18:13] QBens commented on #620
@jeremydmiller I understand your certain about performance. For dependency container it is one of the most important aspect. Maybe kind of locking should be optional. Eventually there should be a clear notice in certain documentation section about possibility of multithreading problems. Developers using nested container could manually add locking in their own code.

[2017-11-27 19:49] arishlabroo commented on #621
the lambda was the issue, thanks @jeremydmiller. This works as expected

I dont need the lambda, but just for record, this works too. (Fails without explicit Transient)

Please feel free to close the issue if you think this difference in behavior with expression overload is expected.

Also, I would love to get the perf improvements that come with the `IContainer GetNestedContainer(TypeArguments ar

[2017-12-06 10:02] niaher opened #622 "Duplicate calls to `AssemblyContainingType` break configuration"
I think I found a bug. When registering the same assembly twice using `IAssemblyScanner.AssemblyContainingType()` and then using `IAssemblyScanner.ConnectImplementationsToTypesClosing()`, I get runtime exception when trying to get an instance of my open-generic interface (e.g. - `IRequestHandler<MyRequest,MyResponse>`).

You can reproduce the issue with this code:

[code]

Strangely enough, when u

[2017-12-07 14:36] CornedBee commented on #589
I have implemented the change, but I need advice on where and how to test it.

[2017-12-07 14:47] CornedBee commented on #589
Lazy's exception caching makes this not work as I want it. Will have to think further on this.

[2017-12-07 15:55] volak commented on #603
Yeah in 2.0 there are a few things to be aware of when trying to assembly scanning.
First of all `TheCallingAssembly` doesn't work - just forget about it.
Second of all building doesn't put all nuget dependencies into the build directory - so having structuremap scan the directory won't work either. (only `dotnet publish` puts all the nuget depends into a release folder)

Workaround:

Put `<CopyLo

[2017-12-07 16:55] CornedBee commented on #589
My second attempt (sort of reimplementing the relevant parts of Lazy) failed too. Putting something into the map before it is constructed causes issues with cyclic dependencies. I would have to move the cycle detection to this code.

[2017-12-07 17:13] volak commented on #603
Well - adding the code is not the hard part, but I'd have to upgrade the project to add a netstandard 2.0 target which I can't seem to get working right and don't know if that's acceptable or not.
I'm not aware of a way to get assemblies from the deps.json file in anything < standard 2.0 - if someone else knows let me know and I can do a PR

[2017-12-13 11:53] StefH opened #624 "WhatDoIHave shows some classes twice. Is this an issue ? If yes, how to solve?"
When running **WhatDoIHave()**, I get this output:

[code]

I've already build in some extra logging to detect where these classes are found, but that's only by _one_ specific **Convention**.

[2018-01-03 22:09] rickythefox commented on #600
@apeneve care to elaborate? Getting the same error here and I'm also using EPiServer.

[2018-01-04 08:32] apeneve commented on #600
My troubles disappeared after an EPiServer upgrade, so I did not pursue it any further. I'm now running cms 11.something and structuremap 4.5.3 without any issues.

[2018-01-04 21:10] muganor opened #626 "Nullable<T> are now simple types"
Since commit e48668a014ffd7c743c740790e1239abf9f087c2, nullable types are now defined as Simple types.  But that causes an exception to be thrown when adding a default value parameter in a mapping where the type is nullable, see line 187 of DependencyCollection.cs:
https://github.com/structuremap/structuremap/blame/master/src/StructureMap/Pipeline/DependencyCollection.cs#L187

In our code, Routing

[2018-01-08 16:20] Arithmomaniac opened #627 "Add Generic method for DecorateWith"
Right now, to decorate an object, one writes code as `container.For<Foo>().DecorateWith(x => new FooDecorator(x));`

It would be nice to be able to use just type parameters, like one can for `Use`, and use the decorated object to resolve the appropriate dependency:
`container.For<Foo>().DecorateWith<FooDecorator>();`

[2018-01-17 03:14] arishlabroo opened #629 "4.6 breaks Conventions"
Following passes with 4.5.3, but fails with 4.6

[code]

[2018-01-18 01:16] arishlabroo commented on #629
Fixed with 4.6.1

[2018-01-18 01:16] #629 closed

[2018-01-20 18:45] Joebeazelman commented on #508
I chose StructureMap because the syntax was very straightforward given the examples. When I sat down to experiment with it, however, I encountered the same compilation error.  This is a classic case of bad documentation!  You could have used ForEach() in your examples or at the very least warned the innocent developer of whatever may befall them when using this library.

A conflict error would hav

[2018-01-20 19:50] jeremydmiller commented on #508
@Joebeazelman I take pull requests

[2018-01-25 08:53] shchahrykovich commented on #614
I think the problem is here - https://github.com/structuremap/structuremap/blob/a1acf253ad5ce4202594a8a682d9f91b6cedf0d2/Source/StructureMap/Interceptors/InterceptorLibrary.cs#L33

I've created a repro program for this case - https://gist.github.com/shchahrykovich/40aebfb23cdaf407a04e4537102c4546

[2018-01-25 11:41] jeremydmiller commented on #614
@shchahrykovich I'd push back on that a little bit though. Not on what you found out about the interceptor/dictionary behavior per se, but what are you doing *with* the container? That code should only be evaluated exactly once for each registration in the system.

Are you doing something in your system that injects new services at runtime? Maybe using `Container.With(ExplicitArguments)` under loa

[2018-01-25 12:12] shchahrykovich commented on #614
@jeremydmiller do you have an example?

[2018-01-25 13:30] jeremydmiller commented on #614
@shchahrykovich Are you doing anything in your system like:

* IContainer.Configure() or IContainer.Inject() at runtime
* IContainer.With(something).With(something).GetInstance<AnotherService>();

[2018-01-25 13:31] jeremydmiller commented on #614
And first, what version of SM are you using?

[2018-01-25 13:31] jeremydmiller commented on #614
@Valchris Any reason why you're on such an old, old version? That's almost 10 years old

[2018-01-26 05:59] spirit11 opened #633 "FuncWithArgFactoryTemplate"
I discovered that not only Func<TO> and Func<string, TO> are injected by default, but also Func<T1, TO> if TO has constructor with at most one argument of type T1 and optionally other arguments that are defined explicitly in container.  I didn't find a description of this behavior in documentation. It is implemented by FuncWithArgFactoryTemplate and FuncWithArgInstance classes.

Maybe similar impl

[2018-01-26 18:29] AnotherICe opened #634 "Decorator not applied, when explicit arguments is used"
**Reproducer:**
[code]

**Console ouput:**
StructureMapTest.WidgerDecorator
StructureMapTest.Widget

**Expected output:**
StructureMapTest.WidgerDecorator
StructureMapTest.WidgerDecorator

[2018-01-29 14:04] eben-roux opened #635 "Singleton open generic returns new instance"
Using the following:

[code]

The `string2` instance is not equal to the `string2` instance.

I have a bit of an adapter going for the major DI containers and this is the only test that is failing.  It isn't a train smash but I thought I'd let you know.  [StructureMap is here](https://github.com/Shuttle/Shuttle.Core.StructureMap).

I have a request from the Castle folks for a PR regarding checking

[2018-01-29 14:57] jeremydmiller commented on #635
@eben-roux It will work if you change your registration to:

[code]

If you want to do the PR for the fix, it's just copying over the lifecycle in this code: https://github.com/structuremap/structuremap/blob/master/src/StructureMap/Pipeline/ConstructorInstance.cs#L146

[2018-01-29 15:17] eben-roux commented on #635
Excellent, that did the trick, thanks Jeremy.

Any reason you have more than one mechanism or is it just for convenience?

[2018-01-29 15:17] #635 closed

[2018-01-29 15:23] jeremydmiller commented on #635
Historical accident. Way back when you only set the lifecycle at the plugin type level.

[2018-01-31 12:12] ktersius opened #636 "Nested Container Property Setter Injection Policy Not Working"
Setting a policy in a nested container registry for setting injection does not seem to work. I had to move the policy to the parent container registry.

[code]

[code]

[2018-02-06 13:22] shchahrykovich commented on #614
@jeremydmiller we don't call Inject at runtime and we don't call With() methods.
I managed to take a memory dump at the point when StructureMap throws an exception.
Original exception is NullRef:
![image](https://user-images.githubusercontent.com/182928/35861446-ccd0188e-0b58-11e8-9d13-13dbc16dc180.png)
and it happens here:
![image](https://user-images.githubusercontent.com/182928/35861456-d4149c2

[2018-02-06 13:27] jeremydmiller commented on #614
I haven't looked at that code in years. If you want to try to do a pull request for that, I'll take it. I'm still holding firm to the idea that what you're seeing is a symptom and not the root cause. StructureMap shouldn't be trying to create all new build plans at runtime after the first usage of any service.

[2018-02-08 14:30] dalander opened #637 "Ctor and unwanted autowiring"
Hi,
 we noticed a behavior that has been changed, but we are not sure if it is our fault or an issue with structuremap.
Given an class with an constructor takes 3 parameters of different types. One type is "TSampleCTorPar", and we want to set it to null on constructing. In past it worked with
`            .Ctor<TSampleCtorPar>().Is(default(TSampleCtorPar))`
But it changed now its behavior. If we a

[2018-02-08 15:31] jeremydmiller commented on #637
@dalander Not sure which version you were using before or after. The internals treat `Is(default(T))` as "there is no explicit inline dependency". It's not really idiomatic SM usage to inject nulls, so it's not something I've really every been concerned with to be honest. If it's important to you, I'll take a PR to make it so.

[2018-02-08 19:11] dalander commented on #637
@jeremydmiller : Version change was from late 2.x to current. But due we found this issue very late. I think it does not matter, cause it works with the lambda expression. Just wanted to know if we are doing something special we should not do.
Many thanks for your response !

[2018-02-08 19:11] #637 closed

[2018-02-16 09:13] stvndall opened #638 "Looking for help, Don't understand error"
Hi there,
I've been using structure map for a while, in dotnet core. And suddenly I have started getting some strange errors.

The 2 isolated packed I seem to be getting them from are
Dapper (V 1.50.4) ---> this error was resolved by rolling back to V1.50.2
Grpc(V1.9.0) --> I have no current resolution to solve this.

I understand that this error is looking like it's originating from the dotnet fr

[2018-02-16 09:47] stvndall commented on #638
This was 100%  my problem. It was the way I scan scanning depenendant assemblies, and creating the tree. It was going out of my controllable scope. And there must be interesting things happening in there.

~closed

[2018-02-16 09:47] #638 closed

[2018-03-13 21:26] FC-KevinD opened #641 "Named instances do not support Lazy<> or Func<>"
Consider the following classes:

    public class Foo : IFoo
    {
        private readonly string _val;

        public Foo(string val)
        {
            _val = val;
        }

        public string GetFoo() => _val;
    }

    public class Bar : IBar
    {
        private readonly Lazy<IFoo> _foo;

        public Bar(Lazy<IFoo> foo)
        {
            _foo = foo;
        }

        public

[2018-03-13 21:40] jeremydmiller commented on #641
@FC-KevinD See the discussion about "Use() vs Add()" in the documentation: http://structuremap.github.io/registration/registry-dsl/.

That's all working as designed.

[2018-03-13 21:40] #641 closed

[2018-03-14 08:25] MarkusTischendorf opened #642 "Object not disposed when working with interception"
Hi,

when working with interception, the subcontainers don't dispose the resolved objects. The TrackingTransientCache just looks for IDisposables. With interception the instance is a dynamic proxy and the target of that proxy is the disposable.

best regards,
Markus

[2018-03-14 12:00] jeremydmiller commented on #642
@MarkusTischendorf Honestly, that's probably never going to be addressed. Is this the outer interceptor, or is there a decorator outside of that, then your dynamic proxy inside of it.

If you're interested in trying to address this through a PR, I can help out, but otherwise this: https://jeremydmiller.com/2018/01/29/sunsetting-structuremap/

[2018-03-14 12:01] jeremydmiller commented on #636
@ktersius That use case is just not, and probably never will be, supported. All policies have to be applied to the root container.

[2018-03-14 12:01] #636 closed

[2018-03-14 12:02] jeremydmiller commented on #634
I don't have a better answer for you that just don't do that. That's exactly the kind of oddball, combinatorial use case that drove me out of StructureMap development. If you're interested in doing a PR to resolve that, I can help you get started. Otherwise, this: https://jeremydmiller.com/2018/01/29/sunsetting-structuremap/.

[2018-03-14 12:03] jeremydmiller commented on #633
@spirit11 Yeah, unless you're up for a pull request for this, it's not going to happen. See https://jeremydmiller.com/2018/01/29/sunsetting-structuremap/

[2018-03-14 12:03] jeremydmiller commented on #627
@Arithmomaniac If you want to submit a PR for that, I'll push it. Otherwise, this: https://jeremydmiller.com/2018/01/29/sunsetting-structuremap/

[2018-03-14 14:04] Arithmomaniac commented on #627
No plans to 🌆

[2018-03-20 17:09] shaulbehr opened #643 "Question: When does Container.GetInstance<> return a new object?"
I've got two branches of code, and the following test:
[code]
In branch 1, this test passes; in branch 2 it fails. Obviously something in the container's configuration has changed between branch 1 and branch 2, so that in branch 2 the container is caching objects rather than creating them anew with each invocation. But what?

[2018-03-20 17:13] jeremydmiller commented on #643
@shaulbehr Have you looked at the WhatDoIHave() output?

[2018-03-20 17:38] shaulbehr commented on #643
@jeremydmiller branch 2 is a nested container. Other than that, no difference I can see.

[2018-03-20 17:43] jeremydmiller commented on #643
Did you check the WhatDoIHave() output? What's the lifecycle for that service? If you look at the docs on nested containers, the lifecycle rules are slightly different

[2018-03-20 17:46] shaulbehr commented on #643
[wdih5.5.txt](https://github.com/structuremap/structuremap/files/1830502/wdih5.5.txt)
[wdih5.6.txt](https://github.com/structuremap/structuremap/files/1830503/wdih5.6.txt)

Here are the two WhatDoIHave() results. Not sure how to read this.

[2018-03-20 17:48] shaulbehr commented on #643
Not sure which docs to look at, what are the main differences?

[2018-03-20 17:50] jeremydmiller commented on #643
http://structuremap.github.io/the-container/nested-containers/

[2018-03-20 18:04] shaulbehr commented on #643
Aha. That was a little counter-intuitive, unless I've misunderstood the purpose of nested containers. I didn't expect the behavior of a nested container to be different from the parent container.
How do I get the nested container to have the same behavior, i.e. creating a new instance of the requested object?

[2018-03-20 18:07] jeremydmiller commented on #643
http://structuremap.github.io/object-lifecycle/supported-lifecycles/

[2018-03-20 18:13] shaulbehr commented on #643
OK, so it looks like I want the `AlwaysUnique` behavior. Is there a way to define that as the behavior for the whole nested container? The examples show how to define the lifecycle for specific types, not the whole container.

[2018-03-20 18:39] jeremydmiller commented on #643
Not directly, but I guess you could write a custom IInstancePolicy to force it. IMO, most of the time you want exactly the nested behavior as it's built now. If you were using SM through the ASP.Net DI abstractions, it de facto registers their "transient" as SM's AlwaysUnique.

[2018-03-20 19:07] shaulbehr commented on #643
It's a bit of an edge case I'm trying to work with here; it's an integration test fixture that I'm trying to run in multiple threads. So I need a different container for each thread (hence the nested containers), but each container might be connecting to different databases with identical schema via repository classes, so each time I get the repository class I want a new one so it injects the righ

[2018-03-20 23:25] jeremydmiller commented on #643
The nested container is meant to be used for short lived operations like HTTP requests or service bus messages being handled, that's why the scoping is different. You might want a child container instead in your case.

[2018-03-21 07:57] shaulbehr commented on #643
Excellent, that's exactly what I need: a child container. Glad I asked; I had no idea there was such a thing; that what I thought the nested container was.
Thanks so much for your help, and especially for being so amazingly responsive and patient!

[2018-03-21 07:57] #643 closed

[2018-04-04 11:38] dadhi opened #644 "Registered open-generic interface does no supply argument for partially closed implementation"
Here is example inspired by typical [MediatR](https://github.com/jbogard/MediatR) sample.

Question, why resolution for `X` is working but for `IRequestHandler` is not?

Live code is [here](https://dotnetfiddle.net/T1OYgV)

[code]

[2018-05-06 12:24] amir3164 opened #645 "Assembly scanning in other project in solution is not registering"
hi
iam use Structuremap in mvc core 2  iam use this code  .but It doesn't register
i dont want  use  Structuremap  in Startup with

[code]
  public static IServiceProvider ConfigureServicesSM(this IServiceCollection services)
        {
            var container = new Container();
            container.Configure(config =>
            {
                config.AddRegistry(new StructuremapRegistry());

[2018-05-07 05:48] amir3164 commented on #645
iam change code but dont service
InvalidOperationException: Unable to resolve service for type
[code]
Registration in Startup.cs:
[code]

[2018-05-07 10:39] jeremydmiller commented on #645
@amir3164 It's just not enough information to help you out here. What's your stack trace? What types are missing? Is it finding all the assemblies in the diagnostics? Have you checked WhatDoIHave() yet, and does that provide any kind of insight?

[2018-05-08 14:42] sm-g commented on #589
Why this still not fixed?

[2018-05-08 14:48] jeremydmiller commented on #589
@sm-g The fix was in 4.6.0, the issue just didn't get closed.

[2018-05-08 14:48] #589 closed

[2018-05-08 15:27] sm-g opened #646 "Concurrent resolving of same PluginType"
I have `Task.WhenAll(tasks)`, and each task uses AutoMapper's ValueResolver which has dependency, resolved via DI.

[code]

When AutoMapper creates ValueResolver instance, same dependency added to dictionary more than once:

[code]

Looks like expcetion from https://github.com/structuremap/structuremap/blob/master/src/StructureMap/SessionCache.cs#L77

[2018-06-12 10:42] FilipeDominguesGit commented on #598
Any update on this?

[2018-06-12 10:51] jeremydmiller commented on #598
@FilipeDominguesGit: https://jeremydmiller.com/2018/01/29/sunsetting-structuremap/

Feel free to send a PR if you want and I'll still release it. There's a workaround as stated above.

[2018-07-12 11:23] kgdarshaun opened #648 "Race condition causes false positive "bi-directional dependency relationship" exception when using factory pattern"
This is with respect to the issue #354

The "bi-directional dependency relationship" exception is still being raised when the lifecycle is changed from "AlwaysUnique" to "Transient".

Below is the modified code from the issue #354, to reproduce the error.

	public class Program
		{
			private const String PearCode = "P";

			private static void Main()
			{
				var container = new Container(_ =>

[2018-07-12 12:42] jeremydmiller commented on #648
@kgdarshaun I'll take a PR if you want to try to do a PR to tighten up the locking behavior here. Otherwise this: https://jeremydmiller.com/2018/01/29/sunsetting-structuremap/

[2018-07-24 09:53] tjrobinson commented on #588
Just over a year later and I've come across the same error in the same bit of code!

For my future self and others - the proper fix is to not initialise things in the constructor, or if you do, at least put a try/catch round it and log it. If there's an exception in the constructor of a dependency, you don't get much detail in the exception from MediatR so it's very hard to work out the problem.

[2018-07-26 17:11] phatcher opened #649 "Can .Named take a null and then ignore it"
I'm porting some code from Unity and my library uses something similar to Registry classes.

What I find is that I'm having to write a lot of conditional code due to Named not taking/ignoring a null key e.g.
[code]
where Id is a string property of the surrounding class.

Is there a better way of doing a conditional registration of the name?

[2018-07-26 17:23] jeremydmiller commented on #649
You could write an extension method to do what you need to do there w/o the extra code noise. Before you go too far w/ your conversion, you did see that SM is deprecated?

[2018-07-26 18:29] phatcher commented on #649
Ah that's a good idea..

I saw the deprecation this afternoon, I already have some code written so I'll continue for now as I need net framework as well as netstandard

[2018-07-28 12:37] jeremydmiller commented on #649
@phatcher See the discussion of `Add()` vs. `Use()` in the docs

[2018-07-28 17:12] phatcher commented on #649
@jeremydmiller I did, it appears that calling `.Use` create/replaces the default registration even if it's named whereas I'm used to named instances only being stored against their specified name and retrieved if they are explicitly requested or if you retrieve all registered instances (Unity/Castle Windsor).

The problem arises in that if I am registering multiple sets of components some all wire

[2018-08-03 17:41] jeremydmiller commented on #649
"just seemed to violate "Least surprise"" -- a lot of different containers would have had similar behavior to StructureMap for the "last one wins" registrations as well as the new built in DI container in ASP.net Core. StructureMap was and is the only single container I'm aware of that let's you do the Use() v. Add() semantics, so in that way SM *is* better for what you're doing here.

[2018-08-03 17:41] #649 closed

[2018-08-20 22:06] Salalimo opened #650 "Structuremap causing stackoverflow exception"
I have a few projects that I am using structuremap, and today all of them are throwing stackoverflow exception. Even this small program:

     static void Main(string[] args)
     {
            var container = Container.For<ConsoleRegistry>();
     }

    public class ConsoleRegistry : Registry
    {
        public ConsoleRegistry()
        {
            For<IFoo>().Use<Foo>();//exception thrown h

[2018-08-20 22:29] Salalimo commented on #650
For<IFoo>().Use<Foo>();
The line above is where the exception happens.. and this is all of the code in the console application that I am running..

When I use the Scan method below it works and I can do something like
          var fooInstance = container.GetInstance<Foo>();
          var result = fooInstance.Print();

Scan(scan =>
            {
                scan.TheCallingAssembly();

[2018-08-20 22:56] Salalimo commented on #650
Just to follow up...

Using the source the exception is thrown at

    return new Container(new T()); //line 25 in the container class..

If I break down that line it happens at  new T();
var x = new T();

If I hover over the line I get the following message

![image](https://user-images.githubusercontent.com/37840650/44370953-86eee980-a4aa-11e8-9f67-02d420ca25c2.png)

so it is most likely somethi

[2018-08-20 23:51] jeremydmiller commented on #650
As I said earlier, there's something else going on you're not showing me here. There's a bazillion tests in the StructureMap codebase that do exactly what you're showing there and the damn thing is 15 years old. There's something else going on in your setup

[2018-10-05 08:06] lnaie commented on #588
yes indeed. another possible case of dramatic failure would be when using constructor injection and you'll be injecting IOptions<T> dependency that loads stuff from the appsettings.json and these settings are not configured in azure in the release variables. :))

have fun!

[2018-10-31 07:13] stijnmoreels opened #652 "Q: predicate GetInstance<>"
Hi, just a question:
For a project we now use StructureMap to inject some custom implementations but we needed to alter the 'GetInstance<>' call on the container because the instances in the container were registered with a scheme (ex. `file:///`) and it was based on a fully location (ex. `file:///some/file/path`) that we needed to resolve the instances.

We had for example these registrations:
*

[2018-11-20 22:29] rheone commented on #646
I know it is little solace, but I encountered this issue earlier today, and within a few hours I was able to convert my multi-tiered application to use [Lamar](https://jasperfx.github.io/lamar/), the successor to StructureMap, with out too much difficulty.

So far the issue appears to be fixed.

[2018-11-21 15:29] no1melman opened #653 "Multiple calls to Configure on Container"
For this code here, and looking at PipelineGraph I'm trying to understand whether doing multiple calls to `Container.Configure()` is commutative thus allowing you to keep "adding" configures to the graph - that doesn't overwrite older configures?

https://github.com/structuremap/structuremap/blob/a2c453569ea8a5b084232522d37bdf9630f7362d/src/StructureMap/Container.cs#L800-L816

So something like

[

[2018-11-21 15:41] jeremydmiller commented on #653
Container.Configure() is additive. I've always tried to recommend against using that too much in favor of trying to lock things down upfront, but so it goes.

[2018-11-22 11:04] no1melman commented on #653
What you recommend in place - is there a configurationexpression object that we can pass around to add to?

[2018-11-26 16:28] #653 closed, assigned to nobody

[2019-01-04 22:52] AdamSchueller opened #655 ""Primitive" types with default values of null cause exception in plan builder when null"
We're experiencing an issue similar to https://github.com/structuremap/structuremap/issues/626 "ArgumentNullException when defining a null value for a Nullable<T> parameter", but with a string parameter.

The class we're injecting has a default parameter that sets the string to null: https://github.com/SteeltoeOSS/Management/blob/434c6a10a8bbe79964e3b1c1ab0ebf80c0d70621/src/Steeltoe.Management.End

[2019-01-06 16:31] dazinator commented on #618
Wondering why this is closed? Please see https://github.com/structuremap/StructureMap.Microsoft.DependencyInjection/issues/43 for related issue. Is this closed because it's not considered a bug? I'm not really sure what to do to overcome this issue so I have had to switch to autofac where IOptions<T> and child containers works as expected.

[2019-01-06 17:12] jeremydmiller commented on #618
@dazinator StructureMap is no longer actively supported

[2019-01-06 17:13] dazinator commented on #618
@jeremydmiller Oh right - apologies I hadn't realised. I'll take a look at Lamar, and I'll probably stick with autofac for now. Cheers

[2019-01-25 20:00] dungtm007 opened #656 "Registration for MediatR IAsynRequestHandler, got exception "Handler was not found" for IRequestHandler"
I have registered some MediatR handlers as IAsyncRequestHandler types like:

...
For(typeof(IAsyncRequestHandler<ParamType, ResponseType>)).Use(typeof(ConcreteHandler));
...

When I concurrently call a API which in turn executes _mediator.Send(...) to one of the handlers I have registered, sometimes I see one ore more calls have exception for "Handler was not found for request of type", and dig de

[2019-01-31 13:28] Cybrosys opened #657 "GetAllInstances is ignoring UseIfNone"
UseIfNone-registration is ignored when calling GetAllInstances. GetInstance does respect UseIfNone.

`ctor(IMyInterface item, IList<IMyInterface> items)`

Current result:
item is not null and items is empty.

Expected result:
item is not null and items contains at least one item.

[2019-03-26 13:26] robertmujica commented on #650
my 2 cents we start seeing Stackoverflow exception in PROD pointing to following call stack:

DynamicClass.lambda_method(System.Runtime.CompilerServices.Closure, StructureMap.IBuildSession, StructureMap.IContext)    StructureMap.Building.BuildPlan.Build(StructureMap.IBuildSession, StructureMap.IContext)    StructureMap.SessionCache.GetObject(System.Type, StructureMap.Pipeline.Instance, StructureMa

[2019-03-26 13:52] jeremydmiller commented on #650
@robertmujica I honestly don't know without a lot more context. From this issue, I'm 99% sure it was something funky they were doing in their bootstrapping code, but you're seeing problems at runtime.

[2019-03-26 14:07] robertmujica commented on #650
@jeremydmiller this is a screenshot of what we seeing on dump file from PROD. But like i said i think we had a code in ctor what was making DB call and was raising a custom exception ( this is a normal scenario ) but because this was thrown within ctor, somehow this cause issue on StructMap.Pipeline.ILifecycle.

![image](https://user-images.githubusercontent.com/3818935/55003369-33a8c080-4fd0-11e9

[2019-03-26 14:30] jeremydmiller commented on #650
So it's definitely triggered by a problem in your code, but I'm not really sure why SM itself would be causing the StackOverflowException. Not claiming it's *not* causing the SO exception either.

As a matter of best practices though, I would recommend you don't really *do* much in constructor functions other than set up fields. In my work, I'd opt for some kind of "Initialize()" or "Start()" code

[2019-03-26 15:00] robertmujica commented on #650
Totally agree with you, I corrected the code by moving those lines from ctor to actual place where it is being used. I just wanted to shared this scenario here to get feedback from Structmap side.

[2019-03-26 15:13] Salalimo commented on #650
I should have posted a followup when this issue was resolved. The exception I was having was due to a visual studio bug that since has been fixed in v15.9. The exception was triggered when a certain intellitrace option was selected. Under options->Intellitrace in visual studio if you selected anything other than the first option the exception would happen.  See image below.

![image002](https://us

[2019-04-01 15:41] jeremydmiller commented on #650
@Salalimo WTH. That's out of left field for me. I'm going to close this one on that.

[2019-04-01 15:41] #650 closed

[2019-04-09 01:44] artcrespo opened #659 "Always unique for parameters in constructor"
I was wondering if the parameters firstTransaction and secondTransaction can be forced to be unique because this configuration uses the same firstTransaction and the second one even if the IUnitOfWork is request twice in the same method with container.GetInstance<IUnitOfWork>();

Thank you!

[code]

[2019-04-09 02:42] artcrespo commented on #659
I solved the problem it was a matter of configuration of all the dependecy tree all the way down using AlwaysUnique and Named. Is a bit to elaborated though

[2019-04-09 02:42] #659 closed, assigned to nobody

[2019-05-31 16:46] 0x15e opened #660 "NullReferenceException in ResolutionStrategy.cs when InjectionParameter value is null"
This is in Stashbox 2.7.4 so forgive me if this has been found / fixed already.

I have an unusual edge case where I need to set an `InjectionParameter` with a null value. Upon attempting to resolve the service, a `NullReferenceException` is thrown.

After some debugging, I found that the problem area is in ResolutionStrategy.cs, line 43 (in `BuildResolutionExpression`):

[code]
You're already che

[2019-05-31 21:26] 0x15e commented on #660
Closing this issue as it was opened on the wrong project. Sorry about that.

[2019-05-31 21:26] #660 closed, assigned to nobody

[2019-12-11 09:03] whatneuron opened #662 "Structuremap is struggling with NSwag build, any clue ?"
https://stackoverflow.com/questions/59208915/type-is-not-marked-as-serializable

System.Runtime.Serialization.SerializationException: Type 'StructureMap.StructureMapConfigurationException' in Assembly 'StructureMap, Version=4.5.0.0, Culture=neutral, PublicKeyToken=null' is not marked as serializable.

It is used in few places but we think this could be the problem line...

[code]

[2019-12-11 09:51] whatneuron commented on #662
[code]

[2019-12-17 22:15] #662 closed, assigned to nobody

[2020-01-05 21:58] avonwyss opened #663 "Explicit named arguments with null value do not work"
I know StructureMap is sunsetted and this may not get fixed, but just in case someone has the same problem:

When adding explicit arguments either via `ExplicitArguments` on `GetInstance<>(args)` or defining them in the registry via `.Ctor("name")`, StructureMap thinks that the argument has not been defined at all. This actually used to work in 2.6.

Here are some test cases which all fail:
[code]

[2020-05-21 01:41] yuren1978 opened #665 "nested container get disposed."
We are using nested container within asp.net web api project, however, we are seeing this exception get throw when try to resolve object with GetInstance

ObjectDisposedException("StructureMap Nested Container");

It looks like assertNotDisposed is throwing this exception, but I cannot understand why it would cause that, we cannot reproduce this issue locally, it only happens under a load. Any hel

[2020-05-22 05:28] #665 closed, assigned to nobody

[2020-05-25 09:06] RassK opened #666 "Working with enumerable types ignores ICollection<T>"
https://structuremap.github.io/the-container/working-with-enumerable-types/

The documented behavior does not work for ICollection<> types. All other enumerable types are ok.

tested with versions: 4.7.0 & 4.7.1

[code]

[2020-07-30 16:29] AbolfazlDavoodiShandiz opened #669 "Problem with property injection in ASP.NET MVC 5 using Structuremap"
I create a custom authentication attribute to authenticate logged in user. inside the attribute I use of my membership service. After some search I want to use my service interface as a property of this attribute, but I have problem whit property injection. I user structuremap for resolve dependency injection. Here is my attribute code:

[code]
and this is my IoC factory class:

[code]

After the

[2020-08-09 22:38] scott-parillo opened #671 "Serializable Exceptions"
I've been working on a design for the last few months that uses SM for our IoC library with great success. The core architecture that uses our new solution, however, uses custom AppDomains in a few places. We ran into an issue recently where a misconfiguration causes SM to throw a proper exception (e.g. StructureMapBuildException) but then SerializationException is ultimately rethrown from the App

[2020-11-18 14:27] blalonde opened #672 "Runtime Decorators Not Applied to Instanciated Classes"
Don't know if this is by design or not.

[code]
Commenting out i1 instanciation works.

My feeling is DecorateAllWith should be applied when changing the runtime configuration even if a previous IInterface was instanciated without a decorator.

Workaround : Copy the x => x.For<IInterface>().Use<Instance>() in the runtime configuration too.

[2020-11-28 16:09] FilipeDominguesGit commented on #665
Hi @yuren1978 ! did you manage to fix this? I'm having the exact same issue under load...

[2022-02-04 13:16] #599 closed